@font-face {
  font-family: 'Exo 2';
  src: url("../fonts/Exo2-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'Exo 2';
  src: url("../fonts/Exo2-SemiBold.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: 'Exo 2';
  src: url("../fonts/Exo2-SemiBoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: 'Exo 2';
  src: url("../fonts/Exo2-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: 'Exo 2';
  src: url("../fonts/Exo2-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: 'Exo 2';
  src: url("../fonts/Exo2-Black.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: 'Exo 2';
  src: url("../fonts/Exo2-BlackItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 900;
}

a {
  color: inherit;
  text-decoration: none;
}

button, textarea, input {
  font-family: 'Exo 2', sans-serif;
}

body {
  background-color: #FFF9ED;
  background-image: url(../img/bg1.jpg);
  background-size: 100%;
  background-position: center 95px;
  background-repeat: no-repeat;
  font-family: 'Exo 2', sans-serif;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 5%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255,255,255,.6);
  padding: 5px 0;
  color: #636363;
  font-size: 37px;
  letter-spacing: -1px;
  z-index: 100;
}

.cyclo-btn {
  border-radius: 6px;
  background: #E3027F;
  border: 0;
  padding: 16px 50px 17px 50px;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  outline: none;
  margin-top: 20px;
}

.bold {
  font-weight: 900;
  font-style: italic;
}

.main { 
  margin-top: 110px;
}

.main-content {
  max-width: 1200px;
  margin: auto;
}

.link-back {
  color: #838383;
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  text-decoration: underline;
  cursor: pointer;
  padding-top: 15px;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(43, 43, 43, 0.28);
  z-index: 9999;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 800px;
}

.link-article {
  color: #E3027F;
  text-decoration: underline;
  cursor: pointer;
}

.modal__header {
  font-size: 28px;
  color: #fff;
  font-weight: 500;
  font-style: italic;
  padding: 10px 20px 20px 100px;
  background: url(../img/header.png);
  background-size: cover;
  background-repeat: no-repeat;    
  line-height: 40px;
  border-radius: 8px 8px 0 0;
}

.modal__close {
  display: inline-block;
  float: right;
  background: #fff;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
}

.modal__close-img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -7px 0 0 -7px;
}

.modal__body {
  background: #fff;
  margin: -6px 0 0 0;
  padding: 39px 100px 46px 100px;
  border-radius: 0 0 8px 8px;
  color: #313131;
  position: relative;
}

@media (min-width: 1600px) {
  body {
    background-image: url(../img/bg2.jpg);
  }
}
