<template>
  <div class="main">
    <HeaderBlock 
      :name="progressName" 
      :progress="parseInt((activity.rating * 100) / maxRating, 10)" 
      :score="activity.rating"
      :photo="activity.user.photoMedium"/>
      
    <div class="main-content">
      <div class="link-back">
        <router-link to="/">На главную</router-link>
      </div>
    </div>  
    <div class="title-container">
      <img :src="`${cdn}lib-sticker.png`" alt="" class="title__img">
      <div class="title__text">
        <span class="text-large">Библиотека</span> полезных знаний
      </div>
      <div class="title__desc">
        Получайте <span class="orange-text">полезные знания</span> о лечении гриппа и ОРВИ и детской психологии. Проверяйте знания 
        в <span class="orange-text">тестах</span> после каждой статьи, <span class="orange-text">оценивайте и делитесь</span> ими в соц. сетях и <span class="orange-text">зарабатывайте баллы!</span>
      </div>
    </div>
    <div class="switcher">
      <div class="switcher__item switcher__item--left" 
       v-bind:class="[state === 1 ? 'switcher--active' : '']"
       @click="changeState(1)">
        Лечение гриппа и ОРВИ
      </div>
      <div class="switcher__item switcher__item--right" 
       v-bind:class="[state === 2 ? 'switcher--active' : '']"
       @click="changeState(2)">
        Детская психология
      </div>
    </div>
    <div class="article-container">
      <template v-if="state === 2">
        <div class="article article--pink article--30" @click="$router.push('/article/11')">
          <div class="article__title">Как помочь школьнику лучше учиться?</div>
          <img :src="`${cdn}articles/11.png`" alt="" class="article__img article__img11">
        </div>
        <div class="article article--yellow1 article--30" @click="$router.push('/article/12')">
          <div class="article__title">Как НЕ нужно мотивировать ребёнка</div>
          <img :src="`${cdn}articles/12.png`" alt="" class="article__img article__img12">
        </div>
        <div class="article article--grey article--30" @click="$router.push('/article/13')">
          <div class="article__title">5 способов мотивировать школьника</div>
          <img :src="`${cdn}articles/13.png`" alt="" class="article__img article__img13">
        </div>


        <div class="article article--yellow2 article--50" @click="$router.push('/article/14')">
          <div class="article__title article__title--50" v-html="'Можно ли<br> применять наказание?'"></div>
          <img :src="`${cdn}articles/14.png`" alt="" class="article__img article__img14">
        </div>
        <div class="article article--yellow3 article--50" @click="$router.push('/article/15')">
          <div class="article__title article__title--50">Как воспитать в ребёнке чувство ответственности?</div>
          <img :src="`${cdn}articles/15.png`" alt="" class="article__img article__img15">
        </div>

        <div class="article article--yellow1 article--30" @click="$router.push('/article/16')">
          <div class="article__title">Как помочь ребёнку стать увереннее в себе?</div>
          <img :src="`${cdn}articles/16.png`" alt="" class="article__img article__img16">
        </div>
        <div class="article article--grey article--30" @click="$router.push('/article/17')">
          <div class="article__title article__title--17">Как установить контакт с подростком?</div>
          <img :src="`${cdn}articles/17.png`" alt="" class="article__img article__img17">
        </div>
        <div class="article article--pink article--30" @click="$router.push('/article/18')">
          <div class="article__title">Как помочь ребёнку организовать время?</div>
          <img :src="`${cdn}articles/18.png`" alt="" class="article__img article__img18">
        </div>

        <div class="article article--pink2 article--50" @click="$router.push('/article/19')">
          <div class="article__title">Ребёнок не доверяет родителю. Как установить контакт?</div>
          <img :src="`${cdn}articles/19.png`" alt="" class="article__img article__img19">
        </div>
        <div class="article article--yellow3 article--50" @click="$router.push('/article/20')">
          <div class="article__title article__title--50">Ребёнок и социальные сети. Как сделать виртуальное общение безопасным?</div>
          <img :src="`${cdn}articles/20.png`" alt="" class="article__img article__img20">
        </div>


        <div class="article article--grey article--100">
          <div class="product-container">
            <img :src="`${cdn}articles/4.png`" alt="" class="product__img">
            <div class="product__slogan">Умное лекарство от <span class="bold">гриппа</span> и <span class="bold">ОРВИ</span></div>
          </div>
          <div class="article-title-container">
            <div class="article__title article__title--100">Что должно быть в аптечке в период гриппа и простуд?</div>
            <div class="article__subtitle">Умные советы родителям</div>
            <button class="cyclo-btn product__btn" @click="$router.push('/article/4')">Подробнее</button>
          </div>
        </div>
      </template>
      <template v-if="state === 1">
        <div class="article article--grey article--30" @click="$router.push('/article/1')">
          <div class="article__title">Почему ребёнок часто болеет?</div>
          <img :src="`${cdn}articles/1.png`" alt="" class="article__img article__img1">
        </div>
        <div class="article article--yellow1 article--30" @click="$router.push('/article/2')">
          <div class="article__title">ГРИПП-2017. Чего стоит опасаться</div>
          <div class="article__title article__title--red"><span class="light-grey">(А/H3N2</span><br>А/Н1N1)</div>
          <img :src="`${cdn}articles/2.png?ver=2.0`" alt="" class="article__img article__img2">
        </div>
        <div class="article article--pink article--30" @click="$router.push('/article/3')">
          <div class="article__title">Осложнения при гриппе: как избежать?</div>
          <img :src="`${cdn}articles/3.png`" alt="" class="article__img article__img3">
        </div>


        <div class="article article--yellow2 article--50" @click="$router.push('/article/4')">
          <div class="article__title">Домашняя аптечка в период гриппа и  простуд</div>
          <img :src="`${cdn}articles/4.png`" alt="" class="article__img article__img4">
        </div>
        <div class="article article--yellow3 article--50" @click="$router.push('/article/5')">
          <div class="article__title article__title--50">Первые симптомы или как сбивать температуру</div>
          <img :src="`${cdn}articles/5.png`" alt="" class="article__img article__img5">
        </div>

        <div class="article article--yellow2 article--30" @click="$router.push('/article/6')">
          <div class="article__title">Простые правила профилактики</div>
          <img :src="`${cdn}articles/6.png`" alt="" class="article__img article__img6">
        </div>
        <div class="article article--pink article--30" @click="$router.push('/article/7')">
          <div class="article__title">Грипп, ОРЗ и ОРВИ — в чём разница?</div>
          <img :src="`${cdn}articles/7.png`" alt="" class="article__img article__img7">
        </div>
        <div class="article article--yellow1 article--30" @click="$router.push('/article/8')">
          <div class="article__title article__title--17">Как выбрать лекарство для лечения гриппа и ОРВИ</div>
          <img :src="`${cdn}articles/8.png`" alt="" class="article__img article__img8">
        </div>

        <div class="article article--pink2 article--50" @click="$router.push('/article/9')">
          <div class="article__title article__title--center">Как работает Циклоферон® (таб.)?</div>
          <img :src="`${cdn}articles/9.png`" alt="" class="article__img article__img9">
        </div>
        <div class="article article--pink2 article--50" @click="$router.push('/article/10')">
          <div class="article__title article__title--50">Личная гигиена в период простуд</div>
          <img :src="`${cdn}articles/10.png`" alt="" class="article__img article__img10">
        </div>
      </template>
    </div>
    
    <div class="footer">
      ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ. ОЗНАКОМЬТЕСЬ С ИНСТРУКЦИЕЙ
    </div>  
    <Popup v-if="popup"  @close="popup = false" :type="popupType"/>
    <Loader v-if="loading"/>  
  </div>
</template>


<script>
  import appOptions from '../js/settings';
  import Auth from '../js/auth';
  import API from '../js/api';
  import Cookie from '../js/cookie';
  import Activity from '../js/activity';
  import HeaderBlock from './Header';
  import Popup from './Popup';
  import Loader from './Loader';
  
  export default {
    name: 'articlesList',
    data() {
      return {
        cdn: appOptions.cdnPath,
        popup: false,
        progressName: '',
        loading: false,
        maxRating: 1000,
        activity: { rating: 0, user: { photoMedium: 'https://static.dnevnik.ru/images/avatars/user/a.m.jpg' } },
      };
    },
    components: {
      HeaderBlock,
      Popup,
      Loader,
    },
    created() {
      API.init();
      if (document.location.href.indexOf('access_token') > -1) {
        Auth.auth(() => {
          API.token = Auth.token;
          const path = window.location.pathname.substring(0, window.location.pathname.length);
          history.pushState('', document.title, path);
          this.checkSession();
        });
      } else {
        this.checkSession();
      }
      window.scroll({ top: 0, left: 0 });
      if (document.documentElement.clientWidth > 1600) {
        document.body.style.backgroundImage = `url(${this.cdn}bg-l2.jpg)`;
      } else {
        document.body.style.backgroundImage = `url(${this.cdn}bg-l1.jpg)`;
        document.body.style.backgroundPosition = 'center -13px';
      }
    },
    computed: {
      state: {
        get() {
          return this.$route.params.state === 'treatment-of-colds' ? 1 : 2;
        },
        set(id) {
          return id;
        },
      },
    },
    methods: {
      checkSession() {
        const that = this;
        if (undefined !== Cookie.get(`${appOptions.provider}_token`)) {
          API.token = Cookie.get(`${appOptions.provider}_token`);
          this.loading = true;
          API.getUserInfo((data) => {
            this.loading = false;
            that.user = data;
            that.computeUserGreetings();
            Activity.get(that.user, (activityData) => {
              that.activity = activityData;
            });
          });
        } else {
          this.popupType = 'auth';
          this.popup = true;
        }
      },
      computeUserGreetings() {
        this.progressName = `${this.user.firstName} ${this.user.lastName[0]}.`;
      },
      changeState(id) {
        if (id === 1) {
          this.$router.push('/library/treatment-of-colds');
          this.$ga.event('Библиотека знаний Вкладка грипп', 'Клик');
        } else {
          this.$router.push('/library/child-psychology');
          this.$ga.event('Библиотека знаний Вкладка психология', 'Клик');
        }
        this.state = id;
      },
    },
  };
</script>


<style scoped>
  @import '../assets/css/reset.css';
  @import '../assets/css/common.css';
  
  .title-container {
    display: flex;
    padding: 0 20px;
    align-items: center;
    margin: 40px 0 0 0;
    justify-content: center;
  }
  
  .light-grey {
    color: #D9CE9A;
  }

  .title__text {
    margin: 0 45px 0 20px;
    color: #E3027F;
    font-size: 30px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 500;
    max-width: 300px;
  }

  .text-large {
    font-style: italic;
    font-weight: 900;
    font-size: 42px;
  }

  .title__desc {
    font-size: 20px;
    color: #313131;
    max-width: 520px;
    line-height: 24px;
    font-style: italic;
  }

  .orange-text {
    color: #FD6D29;
    font-weight: 500;
  }

  .switcher__item {
    display: inline-block;
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    font-style: italic;
    color: #FD6D29;
    padding: 13px 21px 14px;
    border: 2px solid #FD6D29;
    margin: 0;
    cursor: pointer;
    width: 322px;
  }

  .switcher {
    text-align: center;
    margin-top: 35px;
  }

  .switcher__item--left {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    margin-right: -2px;
  }

  .switcher__item--right {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    margin-left: -2px;
    border-left: none;
  }

  .switcher--active {
    color: #fff;
  }

  .switcher__item--left.switcher--active {
    background: linear-gradient(to right, rgba(239,24,130,1) 0%,rgba(247,126,86,1) 100%);
  }

  .switcher__item--right.switcher--active {
    background: linear-gradient(to right, rgba(247,126,86,1) 0%,rgba(239,24,130,1) 100%);
  }
  
  .article-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 60px auto;
    padding-left: 20px;
    max-width: 1280px;
  }  

  .article {
    position: relative;
    border-radius: 14px;
    margin: 20px 20px 0 0;
    color: #313131;
    padding: 40px 20px;
    cursor: pointer;
    height: 260px;
    box-sizing: border-box;
  }

  .article--pink {
    background: #FFA4B8;
  }

  .article--30 {
    width: 31%;
  }

  .article__img11 {
    float: right;
    margin: -70px 0 -46px 0;
  }

  .article__title {
    font-size: 26px;
    font-style: italic;
    font-weight: 900;
    max-width: 210px;
  }
  
  .article--yellow1 {
    background: #FEE684;
  }

  .article__img12 {
    float: right;
    margin: -8px -20px 0 0;
  }

  .article__img13 {
    float: right;
    margin: -112px 0 0 0;
  }

  .article--grey {
    background: #FAEAF1;
  }
  
  .article--50 {
    width: 48%;
  }

  .article--yellow2 {
    background: #FFD086;
  }

  .article--yellow3 {
    background: #FFC35C;
  }

  .article__img14 {
    float: right;
    margin: -82px 0 0 0;
  }

  .article__img15 {
    float: right;
    margin: -105px 0 0 0;
  }
  
  .article__title--50 {
    max-width: 290px;
  }
  
  .article__title--50 {
    max-width: 290px;
  }

  .article__img16 {
    float: right;
    margin: -114px 0 0 0;
  }

  .article__title--17 {
    max-width: 100%;
  }

  .article__img17 {
    float: right;
    margin: 23px -20px 0 0;
    border-radius: 0 0 16px 0;
    width: 244px;
  }
  
  .article__img18 {
    float: right;
    margin: -38px 0 0 0;
  }

  .article__img18 {
    float: right;
    margin: -38px 0 0 0;
  }

  .article--pink2 {
    background: #FEDAEA;
  }

  .article__img19 {
    float: right;
    margin: -161px 20px 0 0;
  }

  .article__img20 {
    float: right;
    margin: -167px 9px 0 0;
  }

  .article--100 {
    width: 100%;
    text-align: center;
    cursor: default;
  }

  .product-container {
    display: inline-block;
    margin: -18px 100px 0 0;
    vertical-align: top;
  }

  .article-title-container {
    display: inline-block;
    max-width: 430px;
    text-align: left;
    margin: 0;
  }

  .product__slogan {
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
    color: #FD6D29;
    text-align: center;
    margin-top: -4px;
  }

  .product__img {
    margin-left: -55px;
    width: 378px;
  }

  .article__title--100 {
    max-width: 100%;
    line-height: 1.1;
    font-size: 28px;
  }

  .article__subtitle {
    font-size: 28px;
    font-weight: 500;
    font-style: italic;
    line-height: 1.1;
    margin-top: 15px;
  }
  
  .article__img1 {
    float: right;
    margin: -88px -7px 0 0;
  }

  .article__img2 {
    float: right;
    margin: -215px -20px 0px 0;
  }

  .article__img3 {
    float: right;
    margin: -80px -20px 0 0;
  }

  .article__img4 {
    float: right;
    margin: -106px 38px 0 0;    
    width: 378px;
  }

  .article__img5 {
    float: right;
    margin: -80px 29px 0 0;
  }

  .article__img6 {
    float: right;
    margin: -3px 0 0 0;
  }
  
  .article__img7 {
    float: right;
    margin: -101px 0 0 0;
  }

  .article__img8 {
    float: right;
    margin: 30px 37px 0 0;
  }
  
  .article__title--center {
    max-width: 100%;
    text-align: center;
    margin: -25px 0 15px 0;
  }
  
  .article__img9 {
    display: block;
    margin: auto;
  }

  .article__img10 {
    float: right;
    margin: -34px 0 0 0;
  }
  
  .article__title--red {
    font-family: 'Roboto', sans-serif;
    padding: 34px 0 0 0;
    color: #908D7F;
    font-size: 30px;
    line-height: 35px;
  }
  
  .title__img {
    width: 201px;
  }
</style>