<template>
  <div class="main">
    <HeaderBlock 
      :name="progressName" 
      :progress="parseInt((activity.rating * 100) / maxRating, 10)" 
      :score="activity.rating"
      :photo="activity.user.photoMedium"/>
      
    <div class="article-content">
      <div class="link-back">
        <router-link v-if="$route.params.id > 0 && $route.params.id < 11" to="/library/treatment-of-colds">
          <button class="modal__btn link-back__btn">К выбору статей</button>
        </router-link>
        <router-link v-else to="/library/child-psychology">
          <button class="modal__btn link-back__btn">К выбору статей</button>
        </router-link>
      </div>
      
      <template v-if="articleLoaded">
         <div class="article-header">
          <div class="article__title-single" 
             v-bind:class="[articleData.large === 1 ? 'article__title-single--large' : '']">
            {{ articleData.name }}
          </div>
          <img :src="`${articleData.id === 2 ? cdn + 'articles/2-1.png' : articleData.id === 3 ? cdn + 'articles/3-1.png' : articleData.img}?ver=2.0`" alt="" class="article__img-single">
         </div>
      </template>
    </div>
    
    <template v-if="articleLoaded">
      <div class="article-activity-container">
        <div class="article-content">
          <div class="article-like-container">
            <img class="like__img" 
              :src="isLiked ? `${cdn}article-liked.png` : `${cdn}article-like.png`"
              @click="likeArticle">
            <div class="like__text">Оценить</div>
          </div>
          <div class="share-container">
            <div class="share__text">Поделиться:</div>
            <a target="_blank" :href="`https://connect.ok.ru/offer?url=${window.location.href}&title=«${articleData.name}»&imageUrl=${articleData.img}`"
             @click="shareArticle">
              <div class="share">
               <img :src="`${cdn}ok.png`" alt="" class="share__img">
              </div>
            </a>
            <a target="_blank" :href="`https://www.facebook.com/sharer.php?url=https://ad.dnevnik.ru/promo/cycloferon-tab`"  @click="shareArticle">
              <div class="share">
                <img :src="`${cdn}fb.png`" alt="" class="share__img">
              </div>
            </a>
            <a target="_blank" :href="`https://vk.com/share.php?url=${window.location.href}&title=«${articleData.name}»&image=${articleData.img}`" 
             @click="shareArticle">
              <div class="share">
                <img :src="`${cdn}vk.png`" alt="" class="share__img">
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="article-container-single">
        <div class="article-content article-content--text"> 
          <template v-for="p in articleData.text">
            <div v-if="p.title" class="article__subheader" v-html="p.title"></div>
            <div v-if="p.text" class="article__paragraph" v-html="p.text"></div>
            <template v-if="p.list">
              <ul class="article-list">
                <li v-for="item in p.list" class="article-list__item" v-html="item"></li>
              </ul>
            </template>
            <img  v-if="p.img" :src="p.img" alt="" class="article-text__img">
          </template>          
        </div>
      </div>
      
      <div class="article-activity-container">
        <div class="article-content">
          <div class="article-like-container">
            <img class="like__img" 
              :src="isLiked ? `${cdn}article-liked.png` : `${cdn}article-like.png`"
              @click="likeArticle">
            <div class="like__text">Оценить</div>
          </div>
          <div class="share-container">
            <div class="share__text">Поделиться:</div>
            <a target="_blank" :href="`https://connect.ok.ru/offer?url=${window.location.href}&title=«${articleData.name}»&imageUrl=${articleData.img}`"
             @click="shareArticle">
              <div class="share">
               <img :src="`${cdn}ok.png`" alt="" class="share__img">
              </div>
            </a>
            <a target="_blank" :href="`https://www.facebook.com/sharer.php?url=https://ad.dnevnik.ru/promo/cycloferon-tab`"  @click="shareArticle">
              <div class="share">
                <img :src="`${cdn}fb.png`" alt="" class="share__img">
              </div>
            </a>
            <a target="_blank" :href="`https://vk.com/share.php?url=${window.location.href}&title=«${articleData.name}»&image=${articleData.img}`" 
             @click="shareArticle">
              <div class="share">
                <img :src="`${cdn}vk.png`" alt="" class="share__img">
              </div>
            </a>
          </div>
        </div>
      </div>
      
      <template v-if="$route.params.id > 10">
        <div class="article-product-container">
         <div class="quiz-product-content">
          <div class="product-container">
            <img :src="`${cdn}articles/4.png`" alt="" class="product__img">
            <div class="product__slogan">Умное лекарство от <span class="bold">гриппа</span> и <span class="bold">ОРВИ</span></div>
          </div>
          <div class="article-title-container">
            <div class="article__title article__title--100">Что должно быть в аптечке в период гриппа и простуд?</div>
            <div class="article__subtitle">Умные советы родителям</div>
            <button class="cyclo-btn product__btn link-article--router" data-href="/article/4" @click="$ga.event('Что должно быть в аптечке Подробнее', 'Клик')">Подробнее</button>
          </div>
          </div>
        </div>
      </template>
      
      <div class="article-iteraction" id="test">
        <Test 
          v-if="!isTestPassed && articleData.test !== undefined"
          :testData="articleData.test"
          :user="user"
          :title="articleData.name"
          @loadingStart="loading = true"
          @loadingEnd="loading = false"
          @ratingChanged="emitRating" />
          
        <div class="link-back-container">
          <div class="link-back">
            <router-link v-if="$route.params.id > 0 && $route.params.id < 11" to="/library/treatment-of-colds">
              <button class="modal__btn link-back__btn">К выбору статей</button>
            </router-link>
            <router-link v-else to="/library/child-psychology">
              <button class="modal__btn link-back__btn">К выбору статей</button>
            </router-link>
          </div>
        </div>
        
        <Comments 
          :id="parseInt($route.params.id, 10)"
          :user="user"
          @loadingStart="loading = true"
          @loadingEnd="loading = false" />
      </div>
    </template>
    
    <div class="footer">
      ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ. ОЗНАКОМЬТЕСЬ С ИНСТРУКЦИЕЙ
    </div>  
    <Popup v-if="popup"  @close="popup = false" :type="popupType"/>
    <Loader v-if="loading"/> 
  </div>
</template>


<script>
  import Vue from 'vue';
  import VueResource from 'vue-resource';
  import appOptions from '../js/settings';
  import Auth from '../js/auth';
  import API from '../js/api';
  import Cookie from '../js/cookie';
  import Activity from '../js/activity';
//  import EventBus from '../js/event-bus';
  import HeaderBlock from './Header';
  import Popup from './Popup';
  import Loader from './Loader';
  import Comments from './Comments';
  import Test from './Test';
  
  export default {
    name: 'singleArticle',
    data() {
      return {
        cdn: appOptions.cdnPath,
        cdnArticles: appOptions.cdnArticles,
        popup: false,
        progressName: '',
        loading: false,
        maxRating: 1000,
        activity: { rating: 0, user: { photoMedium: 'https://static.dnevnik.ru/images/avatars/user/a.m.jpg' } },
        articleLoaded: false,
        activityData: { user: {} },
        isLiked: false,
        isTestPassed: false,
        articleId: this.$route.params.id,
      };
    },
    computed: {
      window() {
        return window;
      },
    },
    components: {
      HeaderBlock,
      Popup,
      Loader,
      Comments,
      Test,
    },
    created() {
      API.init();
      if (document.location.href.indexOf('access_token') > -1) {
        Auth.auth(() => {
          API.token = Auth.token;
          const path = window.location.pathname.substring(0, window.location.pathname.length);
          history.pushState('', document.title, path);
          this.checkSession();
        });
      } else {
        this.checkSession();
      }
      window.scroll({ top: 0, left: 0 });
      if (document.documentElement.clientWidth > 1600) {
        document.body.style.backgroundImage = `url(${this.cdn}bg-l2.jpg)`;
      } else {
        document.body.style.backgroundImage = `url(${this.cdn}bg-l1.jpg)`;
        document.body.style.backgroundPosition = 'center -13px';
      }
    },
    methods: {
      checkSession() {
        const that = this;
        if (undefined !== Cookie.get(`${appOptions.provider}_token`)) {
          API.token = Cookie.get(`${appOptions.provider}_token`);
          this.loading = true;
          API.getUserInfo((data) => {
            that.user = data;
            that.computeUserGreetings();
            Activity.get(that.user, (activityData) => {
              that.activity = activityData;
              that.getContent(that.$route.params.id);
              that.checkArticle();
            });
          });
        } else {
          this.popupType = 'auth';
          this.popup = true;
        }
      },
      computeUserGreetings() {
        this.progressName = `${this.user.firstName} ${this.user.lastName[0]}.`;
      },
      getContent(id) {
        Vue.use(VueResource);
        Vue.http.options.root = this.cdnArticles;
        this.$http.get(`${id}.json?${new Date().getTime()}`).then((response) => {
          this.articleData = JSON.parse(response.bodyText);
          this.articleLoaded = true;
          this.loading = false;
        });
        Vue.http.options.root = appOptions.api;
      },
      checkArticle() {
        const article = this.activity.articles.find(item => item.id === this.articleId);
        if (article === undefined) {
          this.isLiked = false;
          this.isTestPassed = false;
        } else {
          this.isLiked = article.liked === 1 ? true : 0;
          this.isTestPassed = article.test === 1 ? true : 0;
        }
      },
      likeArticle() {
        this.$ga.event('Статьи Оценить', 'Клик');
        let article = this.activity.articles.find(item => item.id === this.articleId);
        const index = this.activity.articles.indexOf(article);
        if (article === undefined) {
          article = {
            id: this.articleId,
            liked: 1,
            share: 0,
            test: 0,
          };
          this.activity.articles.push(article);
          this.activity.rating += 2;
          this.isLiked = !!article.liked;
//          Activity.model = this.activity;
          Activity.set();
          this.$emit('ratingChanged', this.activity.rating);
        } else {
          article.liked = article.liked === 0 ? 1 : 0;
          this.activity.rating = article.liked === 1 ?
            this.activity.rating + 2 :
            this.activity.rating - 2;
          this.isLiked = !!article.liked;
          this.activity.articles.splice(index, 1, article);
//          Activity.model = this.activity;
          Activity.set();
          this.$emit('ratingChanged', this.activity.rating);
        }
      },
      shareArticle() {
        this.$ga.event('Статьи Поделиться', 'Клик');
        let article = this.activity.articles.find(item => item.id === this.$route.params.id);
        const index = this.activity.articles.indexOf(article);
        if (article === undefined) {
          article = {
            id: this.$route.params.id,
            liked: 0,
            share: 1,
            test: 0,
          };
          this.activity.articles.push(article);
          this.activity.rating += 10;
          Activity.set();
          this.$emit('ratingChanged', this.activity.rating);
        } else if (article.share === 0 && article.id > 0 && article.id < 11) {
          article.share = 1;
          this.activity.rating += 10;
          this.activity.articles.splice(index, 1, article);
          Activity.set();
          this.$emit('ratingChanged', this.activity.rating);
        }
      },
      emitRating(rating) {
        this.$emit('ratingChanged', rating);
      },
      linkHandler(event) {
        if (event.target.classList.contains('link-article--router')) {
          event.preventDefault();
          window.open(`https://ad.dnevnik.ru/promo/cycloferon-tab/#${event.target.dataset.href}`);
        }
      },
    },
    beforeMount() {
      document.addEventListener('click', this.linkHandler);
    },
    beforeDestroy() {
      document.removeEventListener('click', this.linkHandler);
    },
    beforeRouteUpdate(to, from, next) {
      this.articleId = to.params.id;
      this.checkSession();
      next();
      window.scroll({ top: 0, left: 0 });
    },
  };
</script>


<style>
  @import '../assets/css/reset.css';
  @import '../assets/css/common.css';
  
  .article-product-container {
    background: #FEDAEA;
    padding: 52px 0 32px 0;
    text-align: center;
  }
  
  .product-container {
    display: inline-block;
    margin: -18px 100px 0 0;
    vertical-align: top;
  }

  .article-title-container {
    display: inline-block;
    max-width: 430px;
    text-align: left;
    margin: 0;
  }

  .product__slogan {
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
    color: #FD6D29;
    text-align: center;
    margin-top: -4px;
  }

  .product__img {
    margin-left: -55px;
    width: 378px;
  }

  .article__title--100 {
    max-width: unset;
    line-height: 1.1;
    font-size: 28px;
    
    font-weight: 900;
    font-style: italic;
  }

  .article__subtitle {
    font-size: 28px;
    font-weight: 500;
    font-style: italic;
    line-height: 1.1;
    margin-top: 15px;
  }
  
  .product__btn {
    background: #fff;
    color: #E3027F;
  }
  
  .title-container {
    display: flex;
    padding: 0 20px;
    align-items: center;
    margin: 40px 0 0 0;
    justify-content: center;
  }

  .title__text {
    margin: 0 45px 0 35px;
    color: #E3027F;
    font-size: 30px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 500;
    max-width: 300px;
  }

  .text-large {
    font-style: italic;
    font-weight: 900;
    font-size: 42px;
  }

  .title__desc {
    font-size: 20px;
    color: #313131;
    max-width: 520px;
    line-height: 24px;
    font-style: italic;
  }

  .orange-text {
    color: #FD6D29;
    font-weight: 500;
  }
  
  
  .article-content {
    max-width: 800px;
    margin: auto;
    color: #313113;
  }
  
  .article-content--text {
    padding-bottom: 50px;
  }
  
  .article-iteraction {
    padding-top: 70px;
    background: #fff;
  }
  
  .article-activity-container {
    padding: 35px;
    background: rgba(255, 255, 255, 0.7);
  }

  .article__title-single {
    max-width: 400px;
    font-size: 36px;
    line-height: 1.1;
    font-weight: 700;
    font-style: italic;
    margin-right: 100px;
  }
  
  .article__title-single--large {
    font-size: 30px;
  }

  .article-header {
    margin-top: 50px;
    display: flex;
    align-items: center;
  }
  
  .article-like-container {
    display: inline-flex;
    align-items: center;
  }

  .share-container {
    float: right;
    display: flex;
    align-items: center;
  }

  .like__text {
    font-size: 18px;
    font-weight: 500;
    margin-left: 10px;
  }

  .like__img {
    cursor: pointer;
  }
  
  .share {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #EA1885;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 15px;
  }

  .share__text {
    font-size: 18px;
    font-weight: 500;
    margin-right: 10px;
  }
  
  .article-container-single {
    padding-top: 50px;
    background: #fff;
  }

  .article__paragraph {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 10px;
  }

  .article__subheader {
    color: #E3027F;
    font-size: 34px;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 20px;
    margin-top: 50px;
  }
  
  .article-list__item {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 10px;
  }

  .article-list {
    list-style-type: disc;
    padding-left: 25px;
  }
  
  .article-text__img {
    width: 100%;
    margin: 10px auto;
  }
  
  .article__img-single {
    max-width: 280px;
  }
  
  .link-back__btn {
    padding: 5px 15px 8px;
    font-size: 20px;
    background: #F45F63;
    border-radius: 6px;
    outline: none;
    border: 0;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
  }
  
  .link-back-container {
    max-width: 800px;
    margin: -20px auto 40px auto;
  }
</style>