<template>
  <div class="comments-container">
    <div class="comments__title">Комментарии</div>
    <div class="comments__input-container">
      <textarea class="comments__input" v-model="userComment" rows="10" placeholder="Напишите комментарий"></textarea>
      <button class="cyclo-btn comments__btn" @click="sendComment" v-show="userComment.length < 1000">Отправить комментарий</button>
    </div>
    <div class="comments-list">
      <template v-for="item in commentList">
        <div class="comment">
          <div class="comment-header">
            <img :src="item.user.photoMedium || 'https://static.dnevnik.ru/images/avatars/user/a.m.jpg'" alt="" class="comment-header__img">
            <div class="comment-header__text comment-info">
              <div class="comment-info__date">{{ formatDate(item.date) }}</div>
              <div class="comment-info__name">{{ item.user.firstName }} {{ item.user.lastName }}</div>
            </div>
          </div>
          <div class="comment__text">{{ item.comment }}</div>
          <span class="comment__delete" v-if="isAdmin" @click="deleteComment(item.key, $event)">Удалить</span>
        </div>
      </template>
      <button v-if="nextPage" class="get-next-page" @click="getNextPage">Загрузить ещё</button>
    </div>
  </div>
</template>

<script>
  import appOptions from '../js/settings';
  import API from '../js/api';
  
  export default {
    name: 'comments',
    props: {
      id: Number,
      user: Object,
    },
    data() {
      return {
        cdn: appOptions.cdnPath,
        userComment: '',
        currentPage: 1,
        commentList: [],
        nextPage: false,
      };
    },
    methods: {
      getComments() {
        this.$emit('loadingStart');
        API.getKeysFromDB({
          label: `${appOptions.provider}-comments_${this.id}`,
          pageNumber: this.currentPage,
          pageSize: 5,
        }, (data) => {
          this.$emit('loadingEnd');
          this.commentList = this.commentList.concat(data.Keys.map(
            item => Object.assign({}, JSON.parse(item.Value), { key: item.Key }),
          ));
          this.nextPage = data.Paging.next !== null ? data.Paging.next : false;
        });
      },
      sendComment() {
        this.$ga.event('Статьи Отправить комментарий', 'Клик');
        if (this.userComment.length > 0 && this.userComment.length < 1000) {
          this.$emit('loadingStart');
          API.addKeyToDB({
            label: `${appOptions.provider}-comments_${this.id}`,
            key: `${appOptions.provider}-comments_${this.id}-${new Date().getTime()}`,
            value: JSON.stringify({
              comment: this.userComment,
              user: this.user,
              date: new Date().getTime(),
            }),
          }, () => {
            this.$emit('loadingEnd');
            this.userComment = '';
            this.currentPage = 1;
            this.getComments();
          });
        }
      },
      deleteComment(key, event) {
        API.deleteKeyFromDB(key, () => {
          event.target.parentNode.remove();
        });
      },
      getNextPage() {
        this.currentPage += 1;
        this.getComments();
      },
      formatDate(parseDate) {
        const date = new Date(parseDate);
        return `${date.getDate()}.${date.getMonth() + 1 < 10 ? `0${date.getMonth() + 1}` : date.getMonth() + 1}.${date.getFullYear()}`;
      },
    },
    computed: {
      isAdmin() {
        return appOptions.adminIds.indexOf(this.user.id_str) > -1;
      },
    },
    created() {
      this.getComments();
    },
  };
</script>


<style scoped>
  .comments-container {
    max-width: 800px;
    margin: auto;
  }

  .comments__title {
    font-size: 24px;
    font-weight: 500;
    font-style: italic;
  }

  .comments__input {
    border: 0;
    height: 100px;
    padding: 20px 20px 20px 80px;
    color: #313131;
    border-radius: 4px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .08);
    width: 100%;
    box-sizing: border-box;
    outline: none;
    font-size: 16px;
    line-height: 1.2;
  }
  
  .comments__input-container {
    position: relative;
    margin-bottom: 60px;
    margin-top: 20px;
  }
  
  .comments__input-container::before {
    position: absolute;
    top: 22px;
    left: 44px;
    content: '';
    width: 22px;
    height: 20px;
    background: url(../assets/img/comment-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .comments__btn {
    font-size: 18px;
    padding: 10px 25px 10px 25px;
  }
  
  .comment {
    padding: 30px 30px 40px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    position: relative;
  }

  .comment-header__img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .comment-header {
    display: flex;
    align-items: center;
  }

  .comment-info {
    margin-left: 10px;
  }

  .comment-info__date {
    font-size: 16px;
    color: #C0C0C0;
  }

  .comment-info__name {
    font-size: 20px;
    color: #313131;
    font-weight: 500;
    font-style: italic;
    margin-top: 5px;
  }

  .comment__text {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.4;
  }
  
  .comments-list {
    padding-bottom: 100px;
  } 
  
  .comment__delete {
    font-size: 18px;
    font-weight: 900;
    color: #757575;
    cursor: pointer;
    position: absolute;
    bottom: 13px;
    right: 20px;
  }
  
  .get-next-page {
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    color: #313131;
    padding: 14px 22px 12px 22px;
    line-height: 22px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.08);
    margin: 31px auto;
    width: 176px;
    display: block;
  }
</style>