<template>
  <div class="header">
   <div class="header__content">
     <div class="logo-container">
       <a href="http://cycloferon.ru/" target="_blank" @click="$ga.event('Логотип', 'Клик')">
        <img :src="`${cdn}logo.png`" alt="" class="logo__img">
        <span class="logo__sub">(Таб.)</span>
        <div class="logo__text">
          Умное лекарство для лечения и профилактики 
          <span class="logo__bold">гриппа</span> и 
          <span class="logo__bold">ОРВИ</span>
        </div>
       </a>
     </div>
     <ul class="menu">
        
       <li class="menu__item" @click="$ga.event('Главная Библиотека знаний', 'Клик')"><router-link to="/library/treatment-of-colds">БИБЛИОТЕКА ЗНАНИЙ</router-link></li>
       <li class="menu__item" @click="score > 500 ? $router.push('/quiz') : false; $ga.event('Главная Умная викторина', 'Клик')">УМНАЯ ВИКТОРИНА</li>
       <li class="menu__item" @click="$ga.event('Главная Здоровая неделя', 'Клик')"><router-link to="/healthy-week">ЗДОРОВАЯ НЕДЕЛЯ</router-link></li>
     </ul>
     <div class="progress-container">
       <img :src="photo" alt="" class="progress__user">
       <div class="progress__user-name">{{ name }}</div>
       <div class="progress__bar">
         <div class="progress__line">
           <div class="progress__line--active" v-bind:style="{ width: `${progress}%` }"></div>
         </div>
       </div>
       <div class="progress__status">{{ status }}</div>
       <div class="progress-bubble">
         Ваш результат:<br> <span class="bubble-score">{{ score }}</span> {{ scoreWord }}
       </div>
     </div>
<!--
     <a href="https://dnevnik.ru/">
       <img :src="`${cdn}dn-logo.png`" alt="" class="dn-logo">
-->
     </a>
   </div>
  </div>
</template>

<script>
  import appOptions from '../js/settings';

  export default {
    name: 'headerBlock',
    props: {
      name: String,
      progress: Number,
      score: Number,
      photo: String,
    },
    data() {
      return {
        cdn: appOptions.cdnPath,
        maxRating: 1000,
      };
    },
    computed: {
      status() {
        if (this.score === 0) {
          return 'Отличное начало';
        }
        if (this.score < 100) {
          return 'Так держать!';
        }
        if (this.score < 200) {
          return 'Золотая середина';
        }
        if (this.score < 500) {
          return 'Достойный результат';
        }
        if (this.score < 1000) {
          return 'Абсолютный успех';
        }
        return 'Эксперт';
      },
      scoreWord() {
        const titles = ['балл', 'балла', 'баллов'];
        const cases = [2, 0, 1, 1, 1, 2];
        return titles[
          this.score % 100 > 4 && this.score % 100 < 20 ?
            2 :
            cases[(this.score % 10 < 5) ?
              this.score % 10 :
              5]
        ];
      },
    },
    created() {
      this.$on('ratingChanged', (newRating) => {
        this.score = newRating;
        this.$recompute('status');
        this.$recompute('scoreWord');
        this.progress = parseInt((newRating * 100) / this.maxRating, 10);
        this.$forceUpdate();
      });
    },
  };
</script>

<style scoped>
  .header {
    margin: auto;
    background: url(../assets/img/header.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    left: 0;
    z-index: 999;
  }

  .header__content {
    max-width: 1280px;
    margin: auto;
  }

  .logo-container {
    padding: 15px 35px;
    display: inline-block;
  }
  
  .logo__img {
    width: 248px;
  }

  .logo__sub {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    font-style: italic;
    margin-left: -11px;
    margin-top: 0;
    height: 34px;
    display: inline-block;
    vertical-align: text-top;
  }

  .logo__text {
    max-width: 260px;
    color: #fff; 
    margin-top: -17px;
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 9px;
  }

  .logo__bold {
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
  }
  
  .menu {
    display: inline-block;
    margin: 20px 0 20px 56px;
    font-size: 22px;
    font-weight: 700;
    font-style: italic;
    vertical-align: top;
  }

  .menu__item {
    padding: 5px 22px;
    border-right: 1px solid rgba(255,255,255,.4);
    display: inline-block;
    color: #fff;
    max-width: 142px;
    cursor: pointer;
  }
  
  .menu__item:last-child {
    border-right: none;
  }
  
  .progress-container {
    display: inline-block;
    margin: 11px 0 0 30px;
    position: relative;
  }

  .progress__user {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 2px solid #fff;
  }
  
  .progress__bar {
    background: #fff;
    padding: 3px 3px 3px 28px;
    margin: -24px 0 0 25px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
    border-radius: 7px;
  }
  
  .progress-container:hover .progress-bubble {
    display: block;
  }

  .progress__line {
    height: 16px;
    background: #EBEBEB;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
  }
  
  .progress__line--active {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 4px 0 0 4px;
    background: #F45F63;
  }  
  
  .progress__status {
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    line-height: 19px;
    font-style: italic;
  }
  
  .progress__user-name {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    vertical-align: top;
    margin: 8px 0 0 3px;
  }
  
  .dn-logo {
    cursor: pointer;
    vertical-align: top;
    margin: 22px 0 0 35px;
  }
  
  .progress-bubble {
    position: absolute;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 15px 25px;
    font-size: 12px;
    line-height: 1.2;
    bottom: -83px;
    display: none;
  }
  
  .progress-bubble:before {
    width: 12px;
    height: 12px;
    background: #fff;
    content: '';
    top: -6px;
    left: 50%;
    margin-left: -6x;
    position: absolute;
    transform: rotate(45deg)
  }

  .bubble-score {
    font-size: 24px;
  }
</style>