<template>
 <div class="loader-layout">
   <img :src="`${cdn}loader.gif`" alt="" class="loader">
 </div>
  
</template>


<script>
  import appOptions from '../js/settings';
  
  export default {
    name: 'loader',
    data() {
      return {
        cdn: appOptions.cdnPath,
        overflow: '',
      };
    },
    mounted() {
      this.overflow = document.body.style.overflow;
      document.body.style.overflow = 'hidden';
    },
    beforeDestroy() {
      document.body.style.overflow = this.overflow;
    },
  };
</script>


<style scoped>
  .loader-layout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.5);
    z-index: 9999;
  }

  .loader {
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -36px 0 0 -36px;
  }
</style>