<template>
  <div class="main">
    <HeaderBlock 
      :name="progressName" 
      :progress="parseInt((activity.rating * 100) / maxRating, 10)" 
      :score="activity.rating"
      :photo="activity.user.photoMedium"/>
    <div class="main-content">
      <div class="flex-section">
        <div class="flex-section__left section">
          <div class="section__HeaderBlock">Умный помощник</div>
          <div class="section__HeaderBlock section__HeaderBlock--right">для родителей</div>
          <div class="section__subHeaderBlock">
            в лечении 
            <span class="subHeaderBlock-bold">гриппа</span> и 
            <span class="subHeaderBlock-bold">ОРВИ</span>
          </div>
          <img :src="`${cdn}product.png`" alt="" class="setion__product">
          <div class="section__slogan slogan">
            <img :src="`${cdn}logo-orange.png`" alt="" class="slogan__logo">
            <span class="slogan__logo-desc">(Таб.)</span>
            <div class="slogan__text">
              Умное лекарство для лечения и профилактики 
              <span class="bold">гриппа</span> и 
              <span class="bold">ОРВИ</span>
            </div>
          </div>
        </div>

        <div class="flex-section__right">
          <div class="note">
            <div class="note__greeting">{{ userGreetings }}</div>
            <div class="note__desc">
              Мы рады пригласить вас поучаствовать в нашем проекте 
              ЦИКЛОФЕРОН® (Таб.) — УМНЫЙ ПОМОЩНИК ДЛЯ РОДИТЕЛЕЙ!
            </div>
            <div class="note__cta cta">
              Участвуйте в <span class="cta__link" @click="window.open('https://ad.csdnevnik.ru/special/staging/cycloferon/Положение о конкурсе.pdf')">конкурсах</span>, 
              читайте интересные <span class="cta__link" @click="$router.push('/library/treatment-of-colds');  $ga.event('Главная Библиотека знаний', 'Клик')">статьи</span>, 
              узнавайте больше о <span class="cta__link" @click="$router.push('/library/child-psychology');  $ga.event('Главная Библиотека знаний', 'Клик')">детской психологии</span> 
              и о том, как <span class="cta__link" @click="$router.push('/library/treatment-of-colds');  $ga.event('Главная Библиотека знаний', 'Клик')">бороться с гриппом и ОРВИ</span>
            </div>
          </div>
        </div>
      </div>
      
      <div class="flex-section flex-section--2">
        <div class="flex-section__left flex-section__left--2 section">
          <p class="section__text section__text--margin section__text--item1">
            <span class="section__text--text">Читайте <span class="p--pink" @click="$router.push('/library/treatment-of-colds');  $ga.event('Главная Библиотека знаний', 'Клик')">СТАТЬИ</span></span>
          </p>
          <p class="section__text" @click="$router.push('/article/6#test');  $ga.event('Главная Библиотека знаний', 'Клик')">
            <span class="section__text--text">Проверяйте знания в <span class="p--pink">ТЕСТАХ</span></span>
          </p>
          <p class="section__text">
            <span class="section__text--text">Делитесь своими <span class="p--pink" @click="$router.push('/healthy-week'); $ga.event('Главная Здоровая неделя', 'Клик')">ИСТОРИЯМИ</span></span>
          </p>
          <p class="section__text section__text--margin section__text--item2" @click="popupType = 'review'; popup = true;">
            <span class="section__text--text">Оценивайте материал</span>
          </p>
          <p class="section__text section__text--margin">
            Накапливайте баллы
          </p>
          <p class="section__text section__text--item3" @click="popupType = 'status'; popup = true;">
            <span class="section__text--text">Получайте <span class="p--pink">СТАТУСЫ</span></span>
          </p>
          <button class="cyclo-btn invite-btn" @click="getFriends">Пригласить друзей</button>
        </div>
        
        <div class="flex-section__right stickers">
          <img :src="`${cdn}stickers.png`" alt="" class="stickers__img">
          <div class="stickers__text">
            <a href="https://apps.dnevnik.ru/run.aspx?app=18" target="_blank" @click="$ga.event('Главная Аналитика оценок', 'Клик')">
              Заработайте <span class="text-orange">200 баллов</span> и получите бесплатный доступ к подробному анализу успеваемости вашего ребёнка.
            </a> 
          </div>
          <div class="stickers__text">
            Заработайте <span class="text-orange">500 баллов</span> и получите возможность побороться за главный приз!  
          </div>
          <button class="cyclo-btn" @click="showRatingPopup">Как заработать баллы?</button>
        </div>
      </div>
      
      <div class="stickers-link-container">
        <img :src="`${cdn}sticker1.png`" alt="" class="sticker-link" @click="$router.push('/library/treatment-of-colds'); $ga.event('Главная Библиотека знаний', 'Клик')">
        <img :src="`${cdn}sticker2.png`" alt="" class="sticker-link" @click="$router.push('/healthy-week'); $ga.event('Главная Здоровая неделя', 'Клик')">
        <template v-if="activity.rating < 499">
          <img :src="`${cdn}sticker3-disabled.png`" alt="" class="sticker-link">
          <div class="sticker__disabled">{{ notEnough }}</div>
        </template>
        <img v-else :src="`${cdn}sticker3.png`" alt="" class="sticker-link" @click="$router.push('/quiz'); $ga.event('Главная Умная викторина', 'Клик')">
      </div>
      
      <div class="main-text">
        Желаем здоровья и побед!
      </div>
      
      <div class="footer">
        ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ. ОЗНАКОМЬТЕСЬ С ИНСТРУКЦИЕЙ
      </div>
      
      <Popup 
        v-if="popup"  
        @close="popup = false"
        @invited="checkInvite" 
        :friends="friendList" 
        :invited="activity.invite.length" 
        :type="popupType"
        :userId="activity.user.id_str"/>
      <Loader v-if="loading"/>
    </div>
  </div>
</template>

<script>
  import appOptions from '../js/settings';
  import Auth from '../js/auth';
  import API from '../js/api';
  import Cookie from '../js/cookie';
  import Activity from '../js/activity';
  import HeaderBlock from './Header';
  import Popup from './Popup';
  import Loader from './Loader';
  
  export default {
    name: 'mainPage',
    data() {
      return {
        cdn: appOptions.cdnPath,
        popup: false,
        userGreetings: '',
        progressName: '',
        loading: false,
        maxRating: 1000,
        activity: { rating: 0, user: { photoMedium: 'https://static.dnevnik.ru/images/avatars/user/a.m.jpg' }, invite: [] },
        friendList: [],
      };
    },
    components: {
      HeaderBlock,
      Popup,
      Loader,
    },
    created() {
      API.init();
      if (document.location.href.indexOf('access_token') > -1) {
        Auth.auth(() => {
          API.token = Auth.token;
          const path = window.location.pathname.substring(0, window.location.pathname.length);
          history.pushState('', document.title, path);
          this.checkSession();
        });
      } else {
        this.checkSession();
      }
      window.scroll({ top: 0, left: 0 });
      if (document.documentElement.clientWidth > 1600) {
        document.body.style.backgroundImage = `url(${this.cdn}bg2.jpg)`;
      } else {
        document.body.style.backgroundImage = `url(${this.cdn}bg1.jpg)`;
      }
    },
    methods: {
      checkSession() {
        const that = this;
        if (undefined !== Cookie.get(`${appOptions.provider}_token`)) {
          API.token = Cookie.get(`${appOptions.provider}_token`);
          this.loading = true;
          API.getUserInfo((data) => {
            this.loading = false;
            that.user = data;
            that.computeUserGreetings();
            Activity.get(that.user, (activityData) => {
              that.activity = activityData;
            });
          });
        } else {
          this.popupType = 'auth';
          this.popup = true;
          this.loading = false;
        }
      },
      computeUserGreetings() {
        this.progressName = `${this.user.firstName} ${this.user.lastName[0]}.`;
        const greed = 'Дорог';
        if (this.user.sex === 'Female') {
          this.userGreetings = `${greed}ая ${this.user.firstName}!`;
        } else {
          this.userGreetings = `${greed}ой ${this.user.firstName}!`;
        }
      },
      showRatingPopup() {
        this.popupType = 'rating';
        this.popup = true;
      },
      goTo(el) {
        window.scroll({ top: this.$el.querySelector(el).offsetTop, left: 0, behavior: 'smooth' });
      },
      getFriends() {
        this.loading = true;
        API.getFriends((data) => {
          this.loading = false;
          const friends = [];
          for (let i = 0; i < data.length; i += 1) {
            if (this.activity.invite.indexOf(data[i].id_str) === -1) {
              friends.push(data[i]);
            }
          }
          this.popupType = 'friends';
          this.friendList = friends;
          this.popup = true;
        });
      },
      checkInvite(invitedFriend) {
        this.activity.invite.push(invitedFriend);
        this.activity.rating += 7;
        Activity.set();
      },
    },
    computed: {
      scoreWord() {
        const number = parseInt(500 - this.activity.rating, 10);
        const titles = ['балл', 'балла', 'баллов'];
        const cases = [2, 0, 1, 1, 1, 2];
        return titles[
          number % 100 > 4 && number % 100 < 20 ? 2 : cases[(number % 10 < 5) ? number % 10 : 5]
        ];
      },
      notEnough() {
        return `Для участия наберите еще ${parseInt(500 - this.activity.rating, 10)} ${this.scoreWord}`;
      },
      window() {
        return window;
      },
    },
  };
</script>

<style>
  @import '../assets/css/reset.css';
  @import '../assets/css/common.css';

  .flex-section {
    display: flex;
    margin-bottom: 139px;
  }
  
  .invite-btn {
    display: block;
    margin: 30px 0 0 75px;
  }

  .flex-section__left {
    width: 50%;
    padding: 30px 50px 0 0;
    box-sizing: border-box;
  }
  
  .flex-section--2 {
    margin-top: -78px;
    align-items: center;
    padding-top: 43px;
  }

  .setion__product {
    max-width: 600px;
    margin: 22px 0 -34px -160px;
    display: block;
  }

  .section__HeaderBlock {
    font-size: 42px;
    text-transform: uppercase;
    font-weight: 900;
    font-style: italic;
    color: #E3027F;
    line-height: 50px;
    max-width: 485px;
    text-align: left;
    margin: auto;
  }

  .section__HeaderBlock--right {
    text-align: right;
  }

  .section__subHeaderBlock {
    text-align: right;
    max-width: 485px;
    margin: 5px auto 0;
    color: #E3027F;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;    
    font-style: italic;
  }
  
  .subHeaderBlock-bold {
    font-size: 28px;
    font-weight: 900;
    font-style: italic;
  }

  .section__slogan {
    margin-top: 40px;
    color: #FD6D29;
  }

  .slogan__logo {
    width: 284px;
  }

  .slogan__logo-desc {
    Font Size: 20px;
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    display: inline-block;
    margin: 13px 0 0 -7px;
    vertical-align: top;
  }

  .slogan__text {
    font-size: 34px;
    line-height: 38px;
    margin: auto;
    text-align: left;
    font-style: italic;
  }
  
  .note {
    background-image: url(../assets/img/note.png);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 591px; 
    padding: 124px 94px 169px;
    box-sizing: border-box;
    color: #313131;
    text-align: left;
  }
  
  .flex-section__right {
    text-align: center;
  }

  .note__greeting {
    font-size: 34px;
    font-weight: 500;
    font-style: italic;
    color: #313131;
  }

  .note__desc {
    font-size: 24px;
    font-weight: 500;
    line-height: 35px;
    margin: 20px 0 0 0;
    font-style: italic;
  }

  .note__cta {
    margin: 42px 0 0 0;
    font-size: 24px;
    line-height: 29px;
    font-weight: 500;
    font-style: italic;
  }

  .cta__link {
    color: #FD6D29;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .flex-section__left--2 {
    padding-top: 0;
  }
  
  .section__text {
    font-size: 26px;
    color: #313131;
    font-weight: 500;
    font-style: italic;
    max-width: 390px;
    margin: auto auto 20px;
    position: relative;
    border-bottom: 2px solid transparent;
  }

  .p--pink {
    color: #E3027E;
    cursor: pointer;
  }

  .section__text--margin {
    padding-left: 30px;
  }
  
  .section__text--item1::before {
    position: absolute;
    top: -35px;
    left: -38px;
    width: 71px;
    height: 50px;
    content: '';
    background: url(../assets/img/glasses.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .section__text--item2::before {
    position: absolute;
    left: -36px;
    width: 49px;
    height: 49px;
    top: 3px;
    content: '';
    background: url(../assets/img/like.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .section__text--text {
    display: inline-block;
    border-bottom: 2px solid transparent;
    cursor: pointer;
  }
  
  .section__text:not(.section__text--underline):hover > .section__text--text {
    border-bottom: 2px solid #E3027E;
  }
  
  .section__text--item3::after {
    position: absolute;
    right: 68px;
    top: 6px;
    width: 33px;
    height: 45px;
    content: '';
    background: url(../assets/img/prize.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .p--underline {
    padding: 0 0 3px 0;
    border-bottom: 2px solid;
  }
  
  .stickers__img {
    width: 380px;
    margin-bottom: 20px;
  }

  .stickers__text {
    font-size: 22px;
    max-width: 500px;
    font-style: italic;
    line-height: 30px;
    margin-bottom: 10px;
    color: #313131;
  }

  .text-orange {
    font-weight: 700;
    font-style: italic;
    color: #FD6D29;
  }

  .stickers-link-container {
    text-align: center;
  }
  
  .sticker-link {
    max-width: 300px;
    vertical-align: top;
    cursor: pointer;
    position: relative;
    margin-right: 15px;
  }

  .main-text {
    margin-top: 70px;
    margin-bottom: 105px;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    font-style: italic;
    color: #FD6D29;
  }
  
  .sticker__disabled {
    width: 900px;
    text-align: right;
    margin: -16px auto 0 auto;
    font-size: 14px;
    color: #BDBDBD;
  }
  
  @media (min-width: 1700px) {
    .flex-section:not(.flex-section--2) {
      padding-top: 20px;
    }
    
    .section__text {
      font-size: 26px;
    }

    .stickers__text {
      font-size: 22px;
    }

    .cyclo-btn {
      font-size: 22px;
    }

    .section__text--item3::after {
      right: 121px;
    }
    
    .section__text {
      max-width: 530px;
    }
  }
</style>
