<template>
  <div class="overlay">
    <div class="modal">
      <div class="modal__header">
        {{ title }}
        <div v-if="type !== 'auth'" class="modal__close" @click="$emit('close')">
          <img :src="`${cdn}close-popup.png`" alt="" class="modal__close-img">
        </div>
      </div>
      <template v-if="type === 'auth'">
        <div class="modal__body"> 
          <div class="auth__text">Для продолжения необходимо авторизоваться.</div>
          <button class="modal__btn auth__btn" @click="buttonClick">Авторизация</button>
        </div>  
      </template>
      <template v-if="type === 'review'">
        <div class="modal__body"> 
          <div class="review__text">Получайте полезные знания о лечении гриппа и ОРВИ и детской психологии. Оценивайте статьи, делитесь ими в соц. сетях и зарабатывайте баллы!</div>
        </div>  
      </template>
      <template v-if="type === 'quizResult'">
        <div class="modal__body"> 
          <div class="quiz-result-container">  
            <div class="auth__text popup-quiz__title" v-if="!resultBad">Поздравляем! Вы выполнили задание.</div>
            <div class="auth__text popup-quiz__title" v-else>Задание не выполнено.</div>
            <div class="popup-quiz__text" v-if="showScore !== 0">
              Поздравляем! Вы выполнили задание и заработали {{ showScore }} баллов. Чтобы заработать максимальное количество баллов – попробуйте снова.
            </div>
            <div class="popup-quiz__text" v-if="scoreText.length > 0" v-html="scoreText"></div>
            <button v-if="resultBad || showScore !== 0" class="cyclo-btn quiz-popup__btn" @click="$emit('rerun')">Попробовать снова</button>
            <button class="cyclo-btn quiz-popup__btn" v-if="nextTask !== 0" @click="$router.push(`/quiz/${nextTask}`);$emit('close')">Перейти к следующему заданию</button>
          </div>
        </div>  
      </template>
      <template v-if="type === 'rating'">
        <div class="modal__body"> 
          <div class="rating__text">За каждую активность на проекте «Циклоферон® (таб.) - Умный Помощник для родителей» вы получаете баллы:</div>
          <ul class="rating-list">
            <li class="rating-list__item">
              Заходите на проект — <span class="orange-text">10 баллов</span> каждый день
            </li>
            <li class="rating-list__item">
              Оценивайте статьи — <span class="orange-text">2 балла</span> за каждую статью
            </li>
            <li class="rating-list__item">
              Делитесь статьями о лечении гриппа в социальных сетях — <span class="orange-text">7 баллов</span> за каждую статью
            </li>
            <li class="rating-list__item">
              Приглашайте других пользователей — <span class="orange-text">4 балла</span> за каждого приглашенного друга
            </li>
            <li class="rating-list__item">
              Правильно отвечайте на вопросы тестов — <span class="orange-text">7 баллов</span> за каждый верный ответ
            </li>
            <li class="rating-list__item">
              Выполняйте задания викторины — <span class="orange-text">20 баллов</span> за каждое задание
            </li>
            <li class="rating-list__item">
              Участвуйте в «Здоровых неделях» — по <span class="orange-text">20 баллов</span> за каждую опубликованную историю
            </li>
          </ul>
          <button class="modal__btn rating__btn" @click="$emit('close')">Ознакомлен</button>
        </div>  
      </template> 
      <template v-if="type === 'week'">
        <div class="modal__body"> 
          <ul class="rating-list rating-list--week">
            <li class="rating-list__item">
              Объём истории — не более 1500 символов
            </li>
            <li class="rating-list__item">
              История должна быть основана на личном опыте или на совете специалиста
            </li>
            <li class="rating-list__item">
              История может содержать упоминание фармацевтического препарата Циклоферон® (таб.), но не должна содержать призыв к приёму этого или любого другого фармацевтического препарата.
            </li>
            <li class="rating-list__item">
              Участник получает дополнительный бонус при общем подсчете баллов в суперфинале (+20 баллов за публикацию 1 истории на проекте).
            </li>
          </ul>
          <button class="modal__btn rating__btn" @click="$emit('close')">Ознакомлен</button>
        </div>  
      </template> 
      <template v-if="type === 'friends'">
        <div class="modal__body"> 
          <div class="friends__counter">{{ invited }}/140</div>
          <div class="friends__text">
            Приглашайте друзей на проект, чтобы заработать дополнительные баллы!
          </div>
          <div class="no-friends" v-if="friends.length === 0">
            Не найдено ни одного друга, которому можно отправить приглашение
          </div>
          <div class="friend-list" v-else>
            <div class="friend" v-for="item in friends">
              <img :src="item.photoMedium" alt="" class="friend__photo">
              <div class="friend__name">{{ item.firstName }} {{ item.lastName }}</div>
              <button class="modal__btn friend__btn" 
                @click="inviteFriend(item.id_str)" 
                :class="[invitedFriends.indexOf(item.id_str) !== -1 ? 'friend__btn--invited' : '']">
                {{ getText(item.id_str) }}
              </button>
            </div>
          </div>
        </div>
      </template>
      <template v-if="type === 'status'">
        <div class="modal__body"> 
          <table class="status-table">
            <tr>
              <td class="status-name">Так держать!</td>
              <td class="status-score">от <span class="orange">1</span> до <span class="orange">99</span> баллов</td>
            </tr>
            <tr>
              <td class="status-name">Золотая середина </td>
              <td class="status-score">от <span class="orange">100</span> до <span class="orange">199</span> баллов</td>
            </tr>
            <tr>
              <td class="status-name">Достойный результат</td>
              <td class="status-score">от <span class="orange">200</span> до <span class="orange">499</span> баллов</td>
            </tr>
            <tr>
              <td class="status-name">Абсолютный успех </td>
              <td class="status-score">от <span class="orange">500</span> до <span class="orange">999</span> баллов</td>
            </tr>
            <tr>
              <td class="status-name">Эксперт</td>
              <td class="status-score">от <span class="orange">1000</span> баллов</td>
            </tr>
          </table>
        </div>  
      </template>
    </div>
  </div>
</template>


<script>
  import appOptions from '../js/settings';
  import Auth from '../js/auth';
  import API from '../js/api';

  export default {
    name: 'popup',
    props: {
      type: String,
      visible: Boolean,
      resultBad: Boolean,
      header: String,
      currentTask: String,
      nextTask: Number,
      showScore: Number,
      scoreText: String,
      friends: Array,
      invited: Number,
      userId: String,
    },
    data() {
      return {
        cdn: appOptions.cdnPath,
        top: 0,
        left: 0,
        overflow: '',
        invitedFriends: [],
      };
    },
    computed: {
      title() {
        switch (this.type) {
          case 'auth':
            return 'Авторизация';
          case 'rating':
            return 'Как заработать баллы?';
          case 'week':
            return 'Правила участия';
          case 'quizResult':
            return this.header;
          case 'friends':
            return 'Пригласите друзей!';
          case 'status':
            return 'Рейтинг баллов и статусы';
          case 'review':
            return 'Оценивайте материал';
          default:
            return '';
        }
      },
    },
    methods: {
      setCenter() {
        const w = this.$el.children[0].clientWidth;
        const h = this.$el.children[0].clientHeight;
        this.$el.children[0].style.marginTop = `-${parseInt(h / 2, 10)}px`;
        this.$el.children[0].style.marginLeft = `-${parseInt(w / 2, 10)}px`;
        this.overflow = document.body.style.overflow;
        document.body.style.overflow = 'hidden';
      },
      buttonClick() {
        if (this.type === 'auth') {
          Auth.auth();
        }
      },
      inviteFriend(id) {
        if (this.invitedFriends.indexOf(id) === -1 && this.invited < 140) {
          API.sendMessage({
            from_str: this.userId,
            from: parseInt(this.userId, 10),
            to: parseInt(id, 10),
            to_str: id,
            body: `Проединяйся ко мне в проекте «Умный помощник для родителей в лечении ГРИППА и ОРВИ»! <a href="${window.location.href}">Перейти на проект</a>`,
          }, () => {
            this.$emit('invited', id);
            this.invitedFriends.push(id);
          });
        }
      },
      getText(id) {
        if (this.invitedFriends.indexOf(id) === -1) {
          return 'Пригласить';
        }
        return 'Приглашение отправлено';
      },
    },
    mounted() {
      this.setCenter();
    },
    ready() {
      window.addEventListener('resize', this.setCenter);
    },
    beforeDestroy() {
      window.removeEventListener('resize', this.setCenter);
      document.body.style.overflow = this.overflow;
    },
  };
</script>


<style>
  @import '../assets/css/common.css';
  .auth__text {
    font-size: 25px;
    text-align: center;
  }

  .modal__btn {
    background: #F45F63;
    border-radius: 6px;
    outline: none;
    border: 0;
    padding: 10px 32px 13px 32px;
    font-size: 22px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
  }

  .auth__btn {
    margin: auto;
    width: 206px;
    display: block;
    margin-top: 20px;
  }
  
  .rating__text {
    font-size: 18px;
    line-height: 22px;
    max-width: 500px;
    margin-bottom: 15px;
  }

  .rating-list {
    font-size: 14px;
    line-height: 17px;
  }

  .rating-list__item {
    margin-bottom: 8px;
    list-style-type: none;
  }

  .rating-list__item:before {
    color: #E3027F;
    content: "●";
    padding-right: 10px; 
   }

  .orange-text {
    font-weight: 500;
    font-style: italic;
    color: #F8A51A;
  }
  
  .rating__btn {
    margin-top: 30px;
  }
  
  .rating-list--week {
    max-width: 584px;
    margin: auto;
    font-size: 20px;
    line-height: 1.2;
  }
  
  .popup-quiz__title {
    font-size: 27px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 20px;
    color: #E3027F;
  }

  .popup-quiz__text {
    text-align: center;
    font-size: 20px;
  }
  
  .quiz-result-container {
    text-align: center;
  }

  .quiz-popup__btn {
    padding: 10px 30px;
    margin-right: 20px;
  }
  
  .quiz-popup__btn:last-child {
    margin-right: 0;
  }
  
  .friend-list {
    max-height: 400px;
    overflow-y: scroll;
  }
  
  .friends__counter {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #757575;
    font-size: 20px;
    font-weight: 900;
    font-style: italic;
  }

  .friends__text {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 30px;
  }

  .friend__photo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }

  .friend__name {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    margin-left: 10px;
    flex-grow: 1;
  }

  .friend {
    display: flex;
    margin-bottom: 14px;
    align-items: center;
    padding-right: 20px;
  }

  .friend__btn {
    font-size: 20px;
    padding: 7px 33px 9px;
  }
  
  .friend__btn--invited {
    font-size: 17px;
    color: #F45F63;
    background: #fff;
    padding: 0 0 0 20px;
  }

  .no-friends {
    font-size: 20px;
    color: #757575;
  }
  
  .status-table {
    margin: auto;
  }

  .status-name {
    font-weight: 900;
    color: #E3027F;
  }

  .status-table>tr>td {
    border-bottom: 1px solid #313131;
    font-size: 20px;
    padding: 10px 20px;
    font-style: italic;
  }

  .orange {
    color: #FD6D29;
    font-weight: 900;
  }
  
  .review__text {
    font-size: 22px;
    text-align: left;
  }
</style>