<template>
  <div class="main">
    <HeaderBlock 
      :name="progressName" 
      :progress="parseInt((activity.rating * 100) / maxRating, 10)" 
      :score="activity.rating"
      :photo="activity.user.photoMedium"/>
      
    <div class="main-content">
      <div class="link-back">
        <router-link to="/">На главную</router-link> / <router-link to="/quiz">К выбору заданий</router-link>
      </div>
    </div>
    
    <template v-if="$route.params.id === '1'">
      <div class="quiz-container">
        <div class="quiz__title">{{ quizTitle }}</div>

        <div class="quiz__task-container">
          <div class="quiz__task-item" v-for="item in ['П', 'К', 'И', 'О', 'А', 'Л', 'Т', 'И', 'Ф', 'Р', 'К', 'А']">{{ item }}</div>
        </div>
        <div class="quiz__answer-container">
          <input type="text" v-model="q1" class="quiz__answer-input" @focus="showMistake = false" @keyup.enter="check">
          <button class="cyclo-btn quiz__btn" @click="check">Готово!</button>
          <div class="quiz__mistake" v-show="showMistake">{{ mistakeMessage }}</div>
        </div>
        <div class="helper-container">
          <div class="helper-close" v-if="!getHelp" @click="getHelp = true">
            <div class="helper-icon">?</div>
            <div class="helper-link">Открыть подсказку</div>
          </div>
          <div class="helper-open" v-else>
            <div class="helper-text">Подсказка: Это необходимо делать, чтобы защитить себя от заражения гриппом и ОРВИ</div>
          </div>
        </div>
      </div>
    </template>
    
    <template v-if="$route.params.id === '2'">
      <div class="quiz-container">
        <div class="quiz__title">{{ quizTitle }}</div>

        <div class="puzzle-container">          
          <div v-if="showResult && !resultBad" class="puzzle-layout puzzle-layout-done"></div>  
          <div v-else class="puzzle-layout droppable"></div>
          
          <div class="puzzle-pieces">
            <img :src="`${cdn}puzzle/1.png`" data-id="1" data-x="-3" data-y="-4" class="puzzle puzzle--1 draggable">
            <img :src="`${cdn}puzzle/2.png`" data-id="2" data-x="-2" data-y="123" class="puzzle puzzle--2 draggable">
            <img :src="`${cdn}puzzle/3.png`" data-id="3" data-x="-3" data-y="345" class="puzzle puzzle--3 draggable">
            <img :src="`${cdn}puzzle/4.png`" data-id="4" data-x="-3" data-y="518" class="puzzle puzzle--4 draggable">
            <img :src="`${cdn}puzzle/5.png`" data-id="5" data-x="114" data-y="-5" class="puzzle puzzle--5 draggable">
            <img :src="`${cdn}puzzle/6.png`" data-id="6" data-x="114" data-y="171" class="puzzle puzzle--6 draggable">
            <img :src="`${cdn}puzzle/7.png`" data-id="7" data-x="114" data-y="297" class="puzzle puzzle--7 draggable">
            <img :src="`${cdn}puzzle/8.png`" data-id="8" data-x="157" data-y="518" class="puzzle puzzle--8 draggable">
            <img :src="`${cdn}puzzle/9.png`" data-id="9" data-x="272" data-y="-5" class="puzzle puzzle--9 draggable">
            <img :src="`${cdn}puzzle/10.png`" data-id="10" data-x="273" data-y="123" class="puzzle puzzle--10 draggable">
            <img :src="`${cdn}puzzle/11.png`" data-id="11" data-x="273" data-y="345" class="puzzle puzzle--11 draggable">
            <img :src="`${cdn}puzzle/12.png`" data-id="12" data-x="315" data-y="518" class="puzzle puzzle--12 draggable">
          </div>
        </div>
      </div>
    </template>
    
    <template v-if="$route.params.id === '3'">
      <div class="quiz-container">
        <div class="quiz__title">{{ quizTitle }}</div>

        <div class="quiz__task-container">
          <div class="quiz__task-item quiz__task-item--3"
            v-for="item in ['Ц', 'И', 'К', 'Л', 'О', 'Ф', 'Е', 'Р', 'О', 'Н']" 
            v-bind:style="{ visibility: 'visible' }">{{ item }}</div>
        </div>
        <div class="quiz__ans-container">
          <div class="quiz__ans" v-for="item in q3Ans">{{ item }}</div>
        </div>
        <div class="quiz__answer-container">
          <div class="quiz__answer-laber">Отправляйте отгаданные слова по одному</div>
          <input type="text" v-model="q3UserVar" class="quiz__answer-input" @keyup="showMistake = false" @focus="showMistake = false" @keyup.enter="checkWord">
          <button class="cyclo-btn quiz__btn" @click="checkWord">Отправить</button>
          <div class="quiz__mistake" v-show="showMistake">{{ mistakeMessage }}</div>
          <br><button class="cyclo-btn quiz__btn quiz__btn--res" @click="check">Готово!</button>
        </div>
      </div>
    </template>
    
    <template v-if="$route.params.id === '4'">
      <div class="quiz-container">
        <div class="quiz__title">{{ quizTitle }}</div>

        <div class="task-4-text">
          Закрасьте на шкале схему приема Циклоферон® (таб.) при гриппе и ОРВИ с целью лечения и профилактики
        </div>
        <table class="task-4-table">
          <tr>
            <td class="task-4-table__title">Дни приёма</td>
            <td class="task-4-table__number" v-for="i in dateList">{{ i }}</td>
          </tr>
          <tr>
            <td class="task-4-table__title">Лечение</td>
            <td class="task-4-table__check" v-for="i in dateList">
              <div class="task-4__radio">
                <input type="checkbox" :id="`check${i}`" name="check">
                <label :for="`check${i}`" 
                  @click="q4['treat'].indexOf(i) > -1 ? 
                    q4['treat'].splice(q4['treat'].indexOf(i), 1) : 
                    q4['treat'].push(i)"></label>
              </div>
            </td>
          </tr>
          <tr>
            <td class="task-4-table__title">Профилактика</td>
            <td class="task-4-table__check" v-for="i in dateList">
              <div class="task-4__radio">
                <input type="checkbox" :id="`check0${i}`" name="check">
                <label :for="`check0${i}`" 
                  @click="q4['prof'].indexOf(i) > -1 ? 
                    q4['prof'].splice(q4['prof'].indexOf(i), 1) : 
                    q4['prof'].push(i)">
                </label>
              </div>
            </td>
          </tr>
        </table>
        <button class="cyclo-btn quiz__btn" @click="check">Готово!</button>
        <div class="quiz__mistake" v-show="showMistake">{{ mistakeMessage }}</div>
        <div class="helper-container">
          <div class="helper-close" v-if="!getHelp" @click="getHelp = true">
            <div class="helper-icon">?</div>
            <div class="helper-link">Открыть подсказку</div>
          </div>
          <div class="helper-open" v-else>
            <div class="helper-text">Подсказка: чтобы не ошибиться и заработать баллы, посмотрите инструкцию по приёму!</div>
          </div>
        </div>
      </div>
    </template>
    
    <template v-if="$route.params.id === '5'">
      <div class="quiz-container">
        <div class="quiz__title">{{ quizTitle }}</div>
        
        <table class="task-5-table">
          <tr>
            <td class="task-5__id">1</td>
            <td class="task-5__text">Вирус гриппа может выживать на денежной купюре в течение 14 дней
            <div class="helper-container helper-container--5">
              <div class="helper-close helper-close--5" @click="q51 = true" v-if="!q51">
                <div class="helper-icon">?</div> 
                <div class="helper-link">Открыть подсказку</div>
              </div>
              <div class="helper-open helper-open--5" v-else>
                <div class="helper-text">
                  Денежные купюры — отличный рассадник для инфекции. Вирус гриппа может выживать на них более двух недель. Но это вовсе не значит, что вы обязательно заболеете от контакта с купюрой: чтобы инфекция попала в организм, она должна проникнуть в дыхательные пути, а это не так просто, если не прикасаться руками к лицу. Именно поэтому специалисты рекомендуют всегда мыть руки после прикосновения к деньгам.
                </div>
              </div>
            </div></td>
            <td class="task-5__control">
              <input class="tgl tgl-light" id="cb1" type="checkbox"/>
              <label class="tgl-btn" for="cb1" @click="q5[1] = !q5[1]">
                <span class="check-text">{{ q5[1] ? 'верно' : 'неверно' }}</span>
              </label>
            </td>
          </tr>
          <tr>
            <td class="task-5__id">2</td>
            <td class="task-5__text">Грипп можно лечить только антибиотиками
            <div class="helper-container helper-container--5">
              <div class="helper-close helper-close--5" @click="q52 = true" v-if="!q52">
                <div class="helper-icon">?</div> 
                <div class="helper-link">Открыть подсказку</div>
              </div>
              <div class="helper-open helper-open--5" v-else>
                <div class="helper-text">
                  Многие считают антибиотики эффективным средством для борьбы с простудой и гриппом, забывая, что возбудитель гриппа — вирус, и против него антибиотики бесполезны. Помимо этого, антибиотики — сильное лекарство, и их приём без надобности не только не поможет, но даже может навредить организму, ослабляя иммунную защиту.
                </div>
              </div>
            </div></td>
            
            <td class="task-5__control">
              <input class="tgl tgl-light" id="cb2" type="checkbox"/>
              <label class="tgl-btn" for="cb2" @click="q5[2] = !q5[2]">
                <span class="check-text">{{ q5[2] ? 'верно' : 'неверно' }}</span>
              </label>
            </td>
          </tr>
          <tr>
            <td class="task-5__id">3</td>
            <td class="task-5__text">Человек не может заразиться гриппом от птиц
            <div class="helper-container helper-container--5">
              <div class="helper-close helper-close--5" @click="q53 = true" v-if="!q53">
                <div class="helper-icon">?</div> 
                <div class="helper-link">Открыть подсказку</div>
              </div>
              <div class="helper-open helper-open--5" v-else>
                <div class="helper-text">
                 Птичьим гриппом человек может заразиться при контакте с инфицированными животными, птицами,  их  экскрементами, сырыми яйцами или мясом, а также через промежуточные источники — воду для питья или корма.
                </div>
              </div>
            </div></td>
            <td class="task-5__control">
              <input class="tgl tgl-light" id="cb3" type="checkbox"/>
              <label class="tgl-btn" for="cb3" @click="q5[3] = !q5[3]">
                <span class="check-text">{{ q5[3] ? 'верно' : 'неверно' }}</span>
              </label>
            </td>
          </tr>
          <tr>
            <td class="task-5__id">4</td>
            <td class="task-5__text">Витамин С способен вылечить грипп
            <div class="helper-container helper-container--5">
              <div class="helper-close helper-close--5" @click="q54 = true" v-if="!q54">
                <div class="helper-icon">?</div> 
                <div class="helper-link">Открыть подсказку</div>
              </div>
              <div class="helper-open helper-open--5" v-else>
                <div class="helper-text">
                  Результаты нескольких исследований показали, что витамин С в больших дозах сокращает продолжительность болезни всего на несколько часов. Так что рассчитывать, что можно вылечиться от гриппа лимоном или аскорбиновой кислотой, не стоит. Но витамин С при простуде расходуется организмом быстрее, поэтому необходимо регулярно пополнять его запасы, чтобы помочь иммунитету справиться с вирусом.
                </div>
              </div>
            </div>
            </td>
            <td class="task-5__control">
              <input class="tgl tgl-light" id="cb4" type="checkbox"/>
              <label class="tgl-btn" for="cb4" @click="q5[4] = !q5[4]">
                <span class="check-text">{{ q5[4] ? 'верно' : 'неверно' }}</span>
              </label>
            </td>
          </tr>
          <tr>
            <td class="task-5__id">5</td>
            <td class="task-5__text">Лучшая защита от гриппа и простуд для грудного младенца — молоко матери
            <div class="helper-container helper-container--5">
              <div class="helper-close helper-close--5" @click="q55 = true" v-if="!q55">
                <div class="helper-icon">?</div> 
                <div class="helper-link">Открыть подсказку</div>
              </div>
              <div class="helper-open helper-open--5" v-else>
                <div class="helper-text">
                  У младенцев до определённого возраста не вырабатывается противовирусный иммунитет. Антитела из материнского молока передаются ребёнку во время кормления. Таким образом, молоко матери обеспечивает надёжную защиту от вирусов, в том числе, и от вирусов гриппа и ОРВИ.
                </div>
              </div>
            </div>
            </td>
            <td class="task-5__control">
              <input class="tgl tgl-light" id="cb5" type="checkbox"/>
              <label class="tgl-btn" for="cb5" @click="q5[5] = !q5[5]">
                <span class="check-text">{{ q5[5] ? 'верно' : 'неверно' }}</span>
              </label>
            </td>
          </tr>
          <tr>
            <td class="task-5__id">6</td>
            <td class="task-5__text">Иммунитет от гриппа и ОРВИ вырабатывается организмом человека один раз и на всю жизнь
            <div class="helper-container helper-container--5">
              <div class="helper-close helper-close--5" @click="q56 = true" v-if="!q56">
                <div class="helper-icon">?</div> 
                <div class="helper-link">Открыть подсказку</div>
              </div>
              <div class="helper-open helper-open--5" v-else>
                <div class="helper-text">
                  Индивидуальный естественный иммунитет может быть как длительным, так и кратковременным. После гриппа или ОРВИ человек, как правило, некоторое время (от 2 до 8 недель) невосприимчив к тому конкретному вирусу, который стал причиной заболевания.
                </div>
              </div>
            </div>
            </td>
            <td class="task-5__control">
              <input class="tgl tgl-light" id="cb6" type="checkbox"/>
              <label class="tgl-btn" for="cb6" @click="q5[6] = !q5[6]">
                <span class="check-text">{{ q5[6] ? 'верно' : 'неверно' }}</span>
              </label>
            </td>
          </tr>
        </table>
        
        <button class="cyclo-btn quiz__btn" @click="check">Готово!</button>
        <div class="quiz__mistake quiz__mistake--block" v-show="showMistake">{{ mistakeMessage }}</div>
      </div>
    </template>
    
    <template v-if="$route.params.id === '6'">
      <div class="quiz-container">
        <div class="quiz__title quiz__title-6" v-html="quizTitle"></div>

        <div class="task-6-text">
          Соотнесите дозы приема препарата Циклоферон® (таб.) <br>с возрастом пациента.
        </div>
               
        <div class="task-6-img-container">
          <div class="task-6-slot droppable">
            <img :src="`${cdn}q6-1.png`" alt="" class="task-6-img ">
            <div class="task-6-slot__text">4-6 лет</div>
          </div>
          <div class="task-6-slot droppable">
            <img :src="`${cdn}q6-2.png`" alt="" class="task-6-img ">
            <div class="task-6-slot__text">7-12 лет</div>
          </div>
          <div class="task-6-slot droppable">
            <img :src="`${cdn}q6-3.png`" alt="" class="task-6-img ">
            <div class="task-6-slot__text">>12 лет</div>
          </div>
        </div> 
               
        <div class="task-6-tab-container">
          <div class="task-6-tab">
            <div class="task-6-tab__text">3-4 таб.</div>
              <img :src="`${cdn}tab4.png`" data-id="4" class="task-6-tab__img draggable">
          </div>
          <div class="task-6-tab">
            <div class="task-6-tab__text">2-3 таб.</div>
              <img :src="`${cdn}tab2.png`" data-id="2" class="task-6-tab__img draggable">
          </div>
          <div class="task-6-tab">
            <div class="task-6-tab__text">1 таб.</div>
              <img :src="`${cdn}tab1.png`" data-id="1" class="task-6-tab__img draggable">
          </div>
        </div>                   
                
        <button class="cyclo-btn quiz__btn" @click="check">Готово!</button>
        <div class="quiz__mistake" v-show="showMistake">{{ mistakeMessage }}</div>
        <div class="task-6-reset-container">
          <img :src="`${cdn}reset.png`" alt="" class="task-6-reset__icon">
          <div class="task-6-reset__text" @click="q6Reset">Сбросить результат</div>
        </div>
        <div class="helper-container">
          <div class="helper-close" v-if="!getHelp" @click="getHelp = true">
            <div class="helper-icon">?</div>
            <div class="helper-link">Открыть подсказку</div>
          </div>
          <div class="helper-open" v-else>
            <div class="helper-text">Подсказка: чтобы не ошибиться и заработать баллы, посмотрите инструкцию по приёму!</div>
          </div>
        </div>
      </div>
    </template>
    
    <template v-if="$route.params.id === '7'">
      <div class="quiz-container" :class="[ document.documentElement.clientWidth >= 1380 ? 'quiz-container--large' : '' ]">
        <div class="quiz__title quiz__title-7">{{ quizTitle }}</div>
        
        <div class="quiz7-container">
          <div class="quiz__info-container">
            <div class="quiz__timer">
              Осталось: <span class="quiz__timer-time">{{ q7Time }}</span> сек.
            </div>
            <div class="quiz-info__score">Найдено: <span class="pink">{{ q7.length }}</span></div>
          </div>
          <div class="find find--1">
            <div class="find-item find-item--1" 
              :class="[q7.indexOf(1) > -1 ? 'find-item--visible' : '']" 
              @click="q7.indexOf(1) === -1 ? q7.push(1) : false"></div>
            <div class="find-item find-item--2" 
              :class="[q7.indexOf(2) > -1 ? 'find-item--visible' : '']" 
              @click="q7.indexOf(2) === -1 ? q7.push(2) : false"></div>
            <div class="find-item find-item--3" 
              :class="[q7.indexOf(3) > -1 ? 'find-item--visible' : '']" 
              @click="q7.indexOf(3) === -1 ? q7.push(3) : false"></div>
            <div class="find-item find-item--4" 
              :class="[q7.indexOf(4) > -1 ? 'find-item--visible' : '']" 
              @click="q7.indexOf(4) === -1 ? q7.push(4) : false"></div>
            <div class="find-item find-item--5" 
              :class="[q7.indexOf(5) > -1 ? 'find-item--visible' : '']" 
              @click="q7.indexOf(5) === -1 ? q7.push(5) : false"></div>
            <div class="find-item find-item--6" 
              :class="[q7.indexOf(6) > -1 ? 'find-item--visible' : '']" 
              @click="q7.indexOf(6) === -1 ? q7.push(6) : false"></div>
            <div class="find-item find-item--7" 
              :class="[q7.indexOf(7) > -1 ? 'find-item--visible' : '']" 
              @click="q7.indexOf(7) === -1 ? q7.push(7) : false"></div>
            <div class="find-item find-item--8" 
              :class="[q7.indexOf(8) > -1 ? 'find-item--visible' : '']" 
              @click="q7.indexOf(8) === -1 ? q7.push(8) : false"></div>
            <div class="find-item find-item--9" 
              :class="[q7.indexOf(9) > -1 ? 'find-item--visible' : '']" 
              @click="q7.indexOf(9) === -1 ? q7.push(9) : false"></div>
              <div class="find-item find-item--10" 
              :class="[q7.indexOf(10) > -1 ? 'find-item--visible' : '']" 
            @click="q7.indexOf(10) === -1 ? q7.push(10) : false"></div>
            <div class="find-item find-item--11" 
              :class="[q7.indexOf(11) > -1 ? 'find-item--visible' : '']" 
              @click="q7.indexOf(11) === -1 ? q7.push(11) : false"></div>
            <div class="find-item find-item--12" 
              :class="[q7.indexOf(12) > -1 ? 'find-item--visible' : '']" 
              @click="q7.indexOf(12) === -1 ? q7.push(12) : false"></div>
          </div>
          <div class="find find--2">
<!--
            <div class="find-item find-item--1" 
              :class="[q7.indexOf(1) > -1 ? 'find-item--visible' : '']" 
              @click="q7.indexOf(1) === -1 ? q7.push(1) : false"></div>
-->
            <div class="find-item find-item--2" 
              :class="[q7.indexOf(2) > -1 ? 'find-item--visible' : '']" 
              @click="q7.indexOf(2) === -1 ? q7.push(2) : false"></div>
            <div class="find-item find-item--3" 
              :class="[q7.indexOf(3) > -1 ? 'find-item--visible' : '']" 
              @click="q7.indexOf(3) === -1 ? q7.push(3) : false"></div>
            <div class="find-item find-item--4" 
              :class="[q7.indexOf(4) > -1 ? 'find-item--visible' : '']" 
              @click="q7.indexOf(4) === -1 ? q7.push(4) : false"></div>
            <div class="find-item find-item--5" 
              :class="[q7.indexOf(5) > -1 ? 'find-item--visible' : '']" 
              @click="q7.indexOf(5) === -1 ? q7.push(5) : false"></div>
            <div class="find-item find-item--6" 
              :class="[q7.indexOf(6) > -1 ? 'find-item--visible' : '']" 
              @click="q7.indexOf(6) === -1 ? q7.push(6) : false"></div>
            <div class="find-item find-item--7" 
              :class="[q7.indexOf(7) > -1 ? 'find-item--visible' : '']" 
              @click="q7.indexOf(7) === -1 ? q7.push(7) : false"></div>
            <div class="find-item find-item--8" 
              :class="[q7.indexOf(8) > -1 ? 'find-item--visible' : '']" 
              @click="q7.indexOf(8) === -1 ? q7.push(8) : false"></div>
            <div class="find-item find-item--9" 
              :class="[q7.indexOf(9) > -1 ? 'find-item--visible' : '']" 
              @click="q7.indexOf(9) === -1 ? q7.push(9) : false"></div>
              <div class="find-item find-item--10" 
              :class="[q7.indexOf(10) > -1 ? 'find-item--visible' : '']" 
            @click="q7.indexOf(10) === -1 ? q7.push(10) : false"></div>
            <div class="find-item find-item--11" 
              :class="[q7.indexOf(11) > -1 ? 'find-item--visible' : '']" 
              @click="q7.indexOf(11) === -1 ? q7.push(11) : false"></div>
            <div class="find-item find-item--12" 
              :class="[q7.indexOf(1) > -1 ? 'find-item--visible' : '']" 
              @click="q7.indexOf(1) === -1 ? q7.push(1) : false"></div>
          </div>
        </div>
      </div>
    </template>
    
    <div class="quiz-product-container">
     <div class="quiz-product-content">
      <div class="product-container">
        <img :src="`${cdn}articles/4.png`" alt="" class="product__img">
        <div class="product__slogan">Умное лекарство от <span class="bold">гриппа</span> и <span class="bold">ОРВИ</span></div>
      </div>
      <div class="article-title-container">
        <div class="article__title article__title--100">Что должно быть в аптечке в период гриппа и простуд?</div>
        <div class="article__subtitle">Умные советы родителям</div>
        <button class="cyclo-btn product__btn" @click="$router.push('/article/4'); $ga.event('Что должно быть в аптечке Подробнее', 'Клик')">Подробнее</button>
      </div>
      </div>
    </div>
    
    
    <div class="footer">
      ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ. ОЗНАКОМЬТЕСЬ С ИНСТРУКЦИЕЙ
    </div>  
    <Popup v-if="showResult" 
      :resultBad="resultBad" 
      :nextTask="parseInt($route.params.id, 10) + 1 < 8 ? parseInt($route.params.id, 10) + 1 : 0" 
      :currentTask="$route.params.id" 
      :header="quizTitle" 
      :showScore="showScore" 
      :scoreText="scoreText"
      @close="showResult = false" 
      @rerun="rerun"
      type="quizResult"/>
    <Loader v-if="loading"/>   
  </div>
</template>


<script>
  import Vue from 'vue';
  import VueResource from 'vue-resource';
  import appOptions from '../js/settings';
  import Auth from '../js/auth';
  import API from '../js/api';
  import Cookie from '../js/cookie';
  import Activity from '../js/activity';
  import HeaderBlock from './Header';
  import Popup from './Popup';
  import Loader from './Loader';
  
  export default {
    name: 'quiz',
    data() {
      return {
        cdn: appOptions.cdnPath,
        cdnQuiz: appOptions.cdnQuiz,
        popup: false,
        progressName: '',
        loading: false,
        maxRating: 1000,
        activity: { rating: 0, user: { photoMedium: 'https://static.dnevnik.ru/images/avatars/user/a.m.jpg' } },
        currentQ: 1,
        activeQuizItem: 0,
        checkedQ: [],
        getHelp: false,
        showMistake: false,
        resultBad: false,
        mistakeMessage: '',
        scoreText: '',
        showResult: false,
        q51: false,
        q52: false,
        q53: false,
        q54: false,
        q55: false,
        q56: false,
        q7Time: 60,
        q7Score: 0,
        showScore: 0,
        q1: '',
        q2: [],
        q4: {
          prof: [],
          treat: [],
        },
        q3Dic: [],
        q3UserVar: '',
        q3Ans: [],
        q5: {
          1: false,
          2: false,
          3: false,
          4: false,
          5: false,
          6: false,
        },
        q7: [],
        timer: -1,
      };
    },
    components: {
      HeaderBlock,
      Popup,
      Loader,
    },
    created() {
      API.init();
      if (document.location.href.indexOf('access_token') > -1) {
        Auth.auth(() => {
          API.token = Auth.token;
          const path = window.location.pathname.substring(0, window.location.pathname.length);
          history.pushState('', document.title, path);
          this.checkSession();
        });
      } else {
        this.checkSession();
      }
      if (this.$route.params.id === '3') {
        this.loading = true;
        Vue.use(VueResource);
        Vue.http.options.root = this.cdnQuiz;
        this.$http.get(`q3-dictionary.json?${new Date().getTime()}`).then((response) => {
          this.q3Dic = JSON.parse(response.bodyText).dictionary;
          this.loading = false;
        });
        Vue.http.options.root = appOptions.api;
      }
      window.scroll({ top: 0, left: 0 });
      if (document.documentElement.clientWidth > 1600) {
        document.body.style.backgroundImage = `url(${this.cdn}bg-v2.jpg)`;
      } else {
        document.body.style.backgroundImage = `url(${this.cdn}bg-v1.jpg)`;
      }
    },
    methods: {
      checkSession() {
        const that = this;
        if (undefined !== Cookie.get(`${appOptions.provider}_token`)) {
          API.token = Cookie.get(`${appOptions.provider}_token`);
          this.loading = true;
          API.getUserInfo((data) => {
            this.loading = false;
            that.user = data;
            that.computeUserGreetings();
            Activity.get(that.user, (activityData) => {
              that.activity = activityData;
            });
          });
        } else {
          this.popupType = 'auth';
          this.popup = true;
        }
      },
      computeUserGreetings() {
        this.progressName = `${this.user.firstName} ${this.user.lastName[0]}.`;
      },
      checkWord() {
        if (this.q3Dic.indexOf(this.q3UserVar.trim().toLowerCase()) > -1) {
          if (this.q3Ans.indexOf(this.q3UserVar.trim().toLowerCase()) === -1) {
            this.q3Ans.push(this.q3UserVar.trim().toLowerCase());
            this.q3UserVar = '';
          } else {
            this.mistakeMessage = 'Такое слово уже есть.';
            this.showMistake = true;
          }
        } else {
          this.mistakeMessage = 'Такого слова мы не загадывали. Поробуйте ещё раз';
          this.showMistake = true;
        }
      },
      check() {
        const id = parseInt(this.$route.params.id, 10);
        const correct4 = {
          prof: [1, 2, 4, 6, 8, 11, 14, 17, 20, 23],
          treat: [1, 2, 4, 6, 8],
        };
        const correct5 = {
          1: true,
          2: false,
          3: true,
          4: false,
          5: true,
          6: false,
        };
        const correct6 = [1, 2, 4];
        let flag = true;
        const keys = Object.keys(this.q5);
        this.showScore = 0;
        this.resultBad = false;
        this.showMistake = false;
        this.scoreText = '';
        this.mistakeMessage = '';
        switch (id) {
          case 1:
            if (this.q1.toLowerCase().trim() === 'профилактика') {
              this.setQuiz();
            } else {
              this.mistakeMessage = 'Не подходит. Поробуйте ещё раз';
              this.showMistake = true;
              this.resultBad = true;
            }
            this.showResult = true;
            break;
          case 3:
            if (this.q3Ans.length === 10) {
              this.setQuiz();
              this.showScore = 0;
            } else if (this.q3Ans.length === 3) {
              this.setQuiz(6);
              this.showScore = 6;
            } else if (this.q3Ans.length > 3 && this.q3Ans.length < 10) {
              this.setQuiz(12);
              this.showScore = 12;
            } else {
              this.resultBad = true;
            }
            this.showResult = true;
            break;
          case 4:
            if (this.q4.prof.length !== correct4.prof.length ||
                this.q4.treat.length !== correct4.treat.length) {
//              this.mistakeMessage = 'Не совпадает с инструкцией. Поробуйте ещё раз';
//              this.showMistake = true;
              this.resultBad = true;
            } else {
              const vars = Object.keys(correct4);
              for (let i = 0; i < vars.length; i += 1) {
                for (let j = 0; j < correct4[vars[i]].length; j += 1) {
                  if (this.q4[vars[i]].indexOf(correct4[vars[i]][j]) === -1) {
                    flag = false;
                    break;
                  }
                }
              }
              if (flag) {
                this.setQuiz();
                this.scoreText = 'При приеме препарата важно соблюдать схему приема. Если у Вас возникли вопросы, задайте из своему лечащему врачу или обратитесь на сайт <a href="//cycloferon.ru" class="link-article" target="_blank">cycloferon.ru</a>';
              } else {
//                this.mistakeMessage = 'Не совпадает с инструкцией. Поробуйте ещё раз';
//                this.showMistake = true;
                this.resultBad = true;
              }
            }
            this.showResult = true;
            break;
          case 5:
            for (let i = 0; i < keys.length; i += 1) {
              if (this.q5[parseInt(keys[i], 10)] !== correct5[parseInt(keys[i], 10)]) {
                flag = false;
                break;
              }
            }
            if (flag) {
              this.setQuiz();
            } else {
              this.mistakeMessage = 'Неверно. Поробуйте ещё раз';
              this.showMistake = true;
              this.resultBad = true;
            }
            this.showResult = true;
            break;
          case 6:
            if (document.querySelectorAll('.drop-tab').length !== 3) {
              this.resultBad = true;
            }
            [...document.querySelectorAll('.drop-tab')].forEach((item, index) => {
              if (correct6[index] !== parseInt(item.dataset.id, 10)) {
                this.resultBad = true;
              }
            });
            this.showResult = true;
            if (!this.resultBad) {
              this.setQuiz();
            }
            break;
          case 7:
            if (this.q7.length < 10) {
              this.resultBad = true;
            } else {
              this.setQuiz();
            }
            this.showResult = true;
            this.stop7Timer();
            break;
          default:
        }
      },
      setQuiz(score) {
        const id = parseInt(this.$route.params.id, 10);
        let quiz = this.activity.quiz.find(item => item.id === id);
        const index = this.activity.quiz.indexOf(quiz);
        if (quiz === undefined) {
          quiz = {
            id,
            done: 1,
          };
          if (score !== undefined) {
            quiz.score = score;
          }
          this.activity.quiz.push(quiz);
          this.activity.rating = score !== undefined ?
            this.activity.rating + score :
            this.activity.rating + 30;
          Activity.set();
          this.$emit('ratingChanged', this.activity.rating);
        } else if ((quiz.done === 0 || score !== undefined) && quiz.score !== 30) {
          this.activity.rating = score !== undefined && quiz.score < score ?
            this.activity.rating + score :
            this.activity.rating + 30;
          if (quiz.score !== undefined) {
            quiz.score = score !== undefined ?
              quiz.score + score :
              quiz.score + 30;
          }
          quiz.done = 1;
          this.activity.quiz.splice(index, 1, quiz);
          Activity.set();
          this.$emit('ratingChanged', this.activity.rating);
        }
      },
      q6Reset() {
        let els = document.querySelectorAll('.drop-tab');
        [...els].forEach((item) => {
          item.remove();
        });
        els = document.querySelectorAll('.draggable');
        [...els].forEach((item) => {
          const el = item;
          el.style.visibility = 'visible';
        });
      },
      rerun() {
        this.showResult = false;
        this.resultBad = false;
        const id = parseInt(this.$route.params.id, 10);
        switch (id) {
          case 1:
            this.q1 = '';
            this.showMistake = false;
            break;
          case 4:
            this.q4 = { prof: [], treat: [] };
            break;
          case 6:
            this.q6Reset();
            break;
          case 7:
            this.q7 = [];
            this.q7Time = 60;
            this.start7Timer();
            break;
          default:
        }
      },
      start7Timer() {
        this.timer = setInterval(() => {
          this.q7Time -= 1;
          if (this.q7Time === 0) {
            this.check();
            clearTimeout(this.timer);
          }
        }, 1000);
      },
      stop7Timer() {
        clearTimeout(this.timer);
      },
    },
    computed: {
      quizTitle() {
        switch (parseInt(this.$route.params.id, 10)) {
          case 1:
            return 'РАСШИФРУЙТЕ СЛОВО';
          case 2:
            return 'Соберите мозаику';
          case 3:
            return 'Соберите существительные из слова';
          case 4:
            return 'Составьте схему лечения гриппа и ОРВИ';
          case 5:
            return 'Найдите верные утверждения';
          case 6:
            return 'Определите правильные дозы для пациентов';
          case 7:
            return 'Найдите 10 отличий за 60 секунд';
          default:
            return '';
        }
      },
      dateList() {
        const arr = [];
        for (let i = 1; i < 25; i += 1) {
          arr.push(i);
        }
        return arr;
      },
      document() {
        return document;
      },
    },
    watch: {
      q2() {
        if (this.q2.length === 12) {
          this.setQuiz();
          this.showResult = true;
          const els = document.querySelectorAll('.puzzle');
          const cont = document.querySelector('.puzzle-pieces');
          cont.style.visibility = 'hidden';
          [...els].forEach((item) => {
            cont.appendChild(item);
          });
        }
      },
      q7() {
        if (this.q7.length === 10) {
          this.check();
        }
      },
    },
    mounted() {
      let dragObject = {};
      const that = this;

      function onMouseDown(e) {
        if (e.which !== 1) return;

        const elem = e.target.closest('.draggable');
        if (!elem) return;

        dragObject.elem = elem;

        // запомним, что элемент нажат на текущих координатах pageX/pageY
        dragObject.downX = e.pageX;
        dragObject.downY = e.pageY;
        /* eslint-disable */
        return false;
        /* eslint-enable */
      }
      function createAvatar(e) {
        // запомнить старые свойства, чтобы вернуться к ним при отмене переноса
        if (that.$route.params.id === '6') {
          const avatar = dragObject.elem.cloneNode();
          const old = {
  //          parent: avatar.parentNode,
  //          nextSibling: avatar.nextSibling,
  //          position: avatar.position || '',
  //          left: avatar.left || '',
  //          top: avatar.top || '',
  //          zIndex: avatar.zIndex || '',
            el: dragObject.elem,
          };
          old.el.style.visibility = 'hidden';

          // функция для отмены переноса
          avatar.rollback = () => {
  //          old.parent.insertBefore(avatar, old.nextSibling);
  //          avatar.style.position = old.position;
  //          avatar.style.left = old.left;
  //          avatar.style.top = old.top;
  //          avatar.style.zIndex = old.zIndex;
            old.el.style.visibility = 'visible';
            avatar.remove();
          };
          avatar.style.position = 'absolute';
          avatar.style.top = `${e.pageY}px`;
          avatar.style.left = `${e.pageX}px`;
          return avatar;
        }
        const avatar = dragObject.elem;
        const old = {
          parent: avatar.parentNode,
          nextSibling: avatar.nextSibling,
          position: avatar.position || '',
          left: avatar.left || '',
          top: avatar.top || '',
          zIndex: avatar.zIndex || '',
        };

        // функция для отмены переноса
        avatar.rollback = () => {
          old.parent.insertBefore(avatar, old.nextSibling);
          avatar.style.position = old.position;
          avatar.style.left = old.left;
          avatar.style.top = old.top;
          avatar.style.zIndex = old.zIndex;
        };
        return avatar;
      }
      function getCoords(elem) { // кроме IE8-
        const box = elem.getBoundingClientRect();

        return {
          top: box.top + pageYOffset,
          left: box.left + pageXOffset,
        };
      }
      function startDrag() {
        const avatar = dragObject.avatar;

        // инициировать начало переноса
        document.body.appendChild(avatar);
        avatar.style.zIndex = 99;
      }

      function onMouseMove(e) {
        if (!dragObject.elem) return; // элемент не зажат

        if (!dragObject.avatar) { // если перенос не начат...
          const moveX = e.pageX;
          const moveY = e.pageY;

          // если мышь передвинулась в нажатом состоянии недостаточно далеко
          if (Math.abs(moveX) < 3 && Math.abs(moveY) < 3) {
            return;
          }

          // начинаем перенос
          dragObject.avatar = createAvatar(e); // создать аватар
          if (!dragObject.avatar) { // отмена переноса, нельзя "захватить" за эту часть элемента
            dragObject = {};
            return;
          }

          // аватар создан успешно
          // создать вспомогательные свойства shiftX/shiftY
          const coords = getCoords(dragObject.avatar);
          dragObject.shiftX = dragObject.downX - coords.left;
          dragObject.shiftY = dragObject.downY - coords.top;

          startDrag(e); // отобразить начало переноса
        }

        // отобразить перенос объекта при каждом движении мыши
        dragObject.avatar.style.left = `${e.pageX - (dragObject.avatar.clientWidth / 2)}px`;
        dragObject.avatar.style.top = `${e.pageY - (dragObject.avatar.clientHeight / 2)}px`;
      }

      function findDroppable(event) {
        // спрячем переносимый элемент
        dragObject.avatar.hidden = true;

        // получить самый вложенный элемент под курсором мыши
        const elem = document.elementFromPoint(event.clientX, event.clientY);

        // показать переносимый элемент обратно
        dragObject.avatar.hidden = false;

        if (elem == null) {
          // такое возможно, если курсор мыши "вылетел" за границу окна
          return null;
        }

        return elem.closest('.droppable');
      }
      function onDragCancel() {
        dragObject.avatar.rollback();
      }

      function onDragEnd(dropElem) {
        if (that.$route.params.id === '6') {
          const img = document.createElement('img');
          img.className = 'drop-tab';
          switch (dragObject.avatar.dataset.id) {
            case '1':
              img.src = `${that.cdn}t1-s.png`;
              img.dataset.id = 1;
              break;
            case '2':
              img.src = `${that.cdn}t2-s.png`;
              img.dataset.id = 2;
              break;
            case '4':
              img.src = `${that.cdn}t4-s.png`;
              img.dataset.id = 4;
              break;
            default:
          }
          dropElem.appendChild(img);
          dragObject.avatar.remove();
        } else {
          dropElem.appendChild(dragObject.elem);
        }
      }

      function finishDrag(e) {
        const dropElem = findDroppable(e);

        if (!dropElem) {
          onDragCancel();
        } else if (that.$route.params.id === '2') {
          const posLeft = parseInt(dragObject.avatar.style.left, 10);
          const posTop = parseInt(dragObject.avatar.style.top, 10);
          const targetTop = parseInt(dragObject.avatar.dataset.x, 10) + document.querySelector('.puzzle-layout').offsetTop;
          const targetLeft = parseInt(dragObject.avatar.dataset.y, 10) + document.querySelector('.puzzle-layout').offsetLeft;
          if (posTop + 17 > targetTop && posTop - 17 < targetTop
              && posLeft + 17 > targetLeft && posLeft - 17 < targetLeft) {
            dragObject.elem.style.top = `${targetTop}px`;
            dragObject.elem.style.left = `${targetLeft}px`;
            onDragEnd(dropElem);
            that.q2.push(parseInt(dragObject.avatar.dataset.id, 10));
          } else {
            onDragCancel();
          }
        } else {
          onDragEnd(dropElem);
        }
      }

      function onMouseUp(e) {
        if (dragObject.avatar) { // если перенос идет
          finishDrag(e);
        }

        // перенос либо не начинался, либо завершился
        // в любом случае очистим "состояние переноса" dragObject
        dragObject = {};
      }

      document.onmousemove = onMouseMove;
      document.onmouseup = onMouseUp;
      document.onmousedown = onMouseDown;
      if (this.$route.params.id === '7') {
        this.start7Timer();
      }
    },
    beforeRouteUpdate(to, from, next) {
      if (to.params.id === '3') {
        this.loading = true;
        Vue.use(VueResource);
        Vue.http.options.root = this.cdnQuiz;
        this.$http.get(`q3-dictionary.json?${new Date().getTime()}`).then((response) => {
          this.q3Dic = JSON.parse(response.bodyText).dictionary;
          this.loading = false;
          next();
        });
        Vue.http.options.root = appOptions.api;
      } else if (to.params.id === '7') {
        this.stop7Timer();
        this.q7Time = 60;
        this.start7Timer();
        next();
      } else {
        next();
      }
    },
  };
</script>


<style>
  @import '../assets/css/reset.css';
  @import '../assets/css/common.css';
  
  .quiz-container {
    max-width: 1280px;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 100px;
  }

  .quiz__title {
    color: #E3027F;
    font-size: 42px;
    font-weight: 900;
    font-style: italic;
    margin-bottom: 50px;
    text-transform: uppercase;
  }

  .quiz__task-item {
    display: inline-block;
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
    color: #fff;
    padding: 10px 17px;
    background: #FD6D29;
    border-radius: 4px;
    margin-right: 10px;
  }

  .quiz__task-container {
    margin-bottom: 60px;
  }

  .quiz__answer-input {
    border: 0;
    outline: none;
    font-size: 22px;
    padding: 16px 20px 15px 20px;
    border-radius: 6px;
    width: 460px;
    margin-right: 10px;
    color: #313131;
    vertical-align: top;
  }
  
  .quiz__btn {
    margin: 0;
    vertical-align: top;
    z-index: 10;
    position: relative;
  }
  
  .helper-container {
    margin-top: 50px;
  }

  .helper-icon {
    width: 50px;
    height: 50px;
    background: #FF9D00;
    border-radius: 50%;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .helper-link {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    font-size: 24px;
    text-decoration: underline;
    font-style: italic;
    line-height: 50px;
  }

  .helper-text {
    font-size: 24px;
    font-style: italic;
  }
  
  .quiz__answer-container {
    position: relative;
    display: inline-block;
  }
  
  .quiz__mistake {
    margin-top: 10px;
    font-size: 16px;
    color: #F45F63;
    font-weight: 700;
    font-style: italic;
    position: absolute;
    width: 100%;
  }
  
  .quiz-result {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
    position: relative;
  }
  
  .tgl {
    display: none;
  }
  .tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
    box-sizing: border-box;
  }
  .tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
    background: none;
  }
  .tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
    background: none;
  }
  .tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 120px;
    height: 53px;
    position: relative;
    cursor: pointer;
    user-select: none;
  }
  .tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 58px;
    height: 58px;
    top: -2px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.18);
  }
  .tgl + .tgl-btn:after {
    left: 0;
  }
  .tgl + .tgl-btn:before {
    display: none;
  }
  .tgl:checked + .tgl-btn:after {
    left: 52%;
  }

  .tgl-light + .tgl-btn {
    background: #EF5B5B;
    border-radius: 200px;
    transition: all .4s ease;
  }
  .tgl-light + .tgl-btn:after {
    border-radius: 50%;
    background: #fff;
    transition: all .2s ease;
  }
  .tgl-light:checked + .tgl-btn {
    background: #62C970;
  }

  .task-5-table {
    margin: auto auto 40px auto;
  }

  .task-5__id {
    font-size: 42px;
    color: #FF9D00;
    vertical-align: middle;
    font-weight: 900;
    font-style: italic;
    padding-right: 50px;
    vertical-align: top;
    padding-top: 20px;
  }

  .task-5__text {
    color: #313131;
    font-size: 24px;
    font-weight: 500;
    font-style: italic;
    vertical-align: middle;
    padding: 20px 80px 20px 0;
    text-align: left;
    max-width: 700px;
  }

  .task-5__control {
    vertical-align: middle;
    padding: 10px 0;
  }
  
  .tgl:checked + .tgl-btn > .check-text {
    left: 12px;
    text-align: left;
  }
  
  .check-text {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -7px;
    font-size: 12px;
    color: #fff;
    text-align: right;
  }
  
  .quiz__mistake--block {
    position: static;
    margin: 15px 0 0 0;
  }
  
  .quiz-product-container {
    background: #FEDAEA;
    margin-bottom: 42px;
    padding: 52px 0 32px 0;
    text-align: center;
  }
  
  .product-container {
    display: inline-block;
    margin: -18px 100px 0 0;
    vertical-align: top;
  }

  .article-title-container {
    display: inline-block;
    max-width: 430px;
    text-align: left;
    margin: 0;
  }

  .product__slogan {
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
    color: #FD6D29;
    text-align: center;
    margin-top: -4px;
  }

  .product__img {
    margin-left: -55px;
    width: 378px;
  }

  .article__title--100 {
    max-width: unset;
    line-height: 1.1;
    font-size: 28px;
    
    font-weight: 900;
    font-style: italic;
  }

  .article__subtitle {
    font-size: 28px;
    font-weight: 500;
    font-style: italic;
    line-height: 1.1;
    margin-top: 15px;
  }
  
  .product__btn {
    background: #fff;
    color: #E3027F;
  }
  
  .task-4-text {
    font-size: 24px;
    color: #313131;
    font-weight: 500;
    max-width: 650px;
    margin: auto;
    line-height: 24px;
  }

  .task-4-table {
    margin: 60px auto;
  }

  .task-4-table__title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-align: left;
    padding-right: 30px;
    vertical-align: middle;
    padding-bottom: 13px;
  }

  .task-4-table__number {
    color: #7E7E7E;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    font-style: italic;
    text-align: center;
    padding: 0 9px 13px 9px;
    vertical-align: middle;
    width: 41px;
    box-sizing: border-box;
  }
  
  .task-4__radio {
    position: relative;
    width: 35px;
    height: 35px;
    text-align: center;
    margin: auto;
  }
  
  .task-4-table__check {
    padding: 8px 0;
    vertical-align: middle;
    text-align: center;
  }
  
  .task-4__radio label {
    width: 35px;
    height: 35px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    border: 2px solid #313131;
    border-radius: 4px;    
    box-sizing: border-box;
  }
  .task-4__radio label:after {
    content: '';
    width: 42px;
    height: 41px;
    position: absolute;
    top: -15px;
    left: 1px;
    background: url(../assets/img/check.png);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
  }

  .task-4__radio input[type=radio],
  .task-4__radio input[type=checkbox] {
    visibility: hidden;
  }
  .task-4__radio input[type=radio]:checked + label,
  .task-4__radio input[type=checkbox]:checked + label {
    background: #F8A318;
  }
  .task-4__radio input[type=radio]:checked + label:after,
  .task-4__radio input[type=checkbox]:checked + label:after {
    opacity: 1;
  }
  
  .quiz__answer-laber {
    text-align: left;
    margin-bottom: 10px;
    font-size: 18px;
    font-style: italic;
  }
  
  .quiz__ans-container {
    display: flex;
    max-width: 738px;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: -30px auto 40px auto;
  }

  .quiz__ans {
    line-height: 22px;
    font-size: 18px;
    background: #fff;
    padding: 2px 17px 3px;
    border-radius: 4px;
    text-align: center;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0 8px 12px 0;
    flex-basis: 100px;
  }

  .quiz__task-item--3 {
    line-height: 36px;
    padding: 12px 19px 11px;
    margin-right: 16px;
  }
  
  .quiz__score {
    text-align: left;
    margin-top: 5px;
    font-size: 17px;
    color: #838383;
  }
  
  .task-6-text {
    font-size: 24px;
    font-weight: 500;
    margin: -20px 0 0 0;
  }
  
  .task-6-img-container {
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .task-6-slot {
    display: inline-block;
    margin-right: 100px;
    position: relative;
  }
  
  .task-6-slot>.drop-tab {
    top: 0;
    right: -30px;
    position: absolute;
  }
  
  .task-6-slot:last-child {
    margin-right: 0;
  }
  
  .task-6-slot__text {
    font-size: 20px;
    color: #313131;
  }
  
  .task-6-img-container {
    margin-top: 30px;
  }
  
  .task-6-tab-container {
    max-width: 1120px;
    border-radius: 200px;
    background: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2) inset;
    padding: 2px 90px 1px;
    min-height: 108px;
    box-sizing: border-box;
    margin: 0 auto 40px;
  }

  .task-6-tab {
    display: inline-flex;
    align-items: center;
    width: 30%;
    justify-content: center;
    min-height: 105px;
  }

  .task-6-tab__text {
    display: inline-block;
    font-size: 30px;
    font-weight: 500;
    font-style: italic;
    color: #313131;
  }
  
  .task-6-tab__img {
    cursor: pointer;
  }
  
  .task-6-reset-container {
    position: relative;
    top: -39px;
    right: 0;
    text-align: right;
    max-width: 1100px;
    margin: auto;
  }

  .task-6-reset__text {
    display: inline-block;
    text-decoration: underline;
    font-size: 20px;
    cursor: pointer;
    line-height: 23px;
    margin-left: 3px;
  }
  
  .quiz__title-6 {
    max-width: 733px;
    margin: auto auto 50px auto;
  }
  
  .quiz__btn--res {
    margin-top: 40px;
  }
  
  .helper-container--5 {
    margin: 10px 0 0 0;
  }
  .helper-close--5>.helper-icon {
    width: 25px;
    height: 25px;
    font-size: 21px;
  }

  .helper-close--5>.helper-link {
    line-height: 25px;
    font-size: 20px;
    color: #7e7e7e;
  }
  
  .helper-open--5>.helper-text {
    color: #7e7e7e;
    font-size: 16px;
    font-weight: 400;
  }
  
  .puzzle-container {
    display: flex;
  }

  .puzzle-layout {
    width: 700px;
    height: 490px;
    vertical-align: top;
    flex-basis: 700px;
    background: url(../assets/img/puzzle/layout.png);
    background-size: 100%;
  }
  
  .puzzle-layout-done {
    background: url(../assets/img/puzzle/done.png);
  }

  .puzzle-pieces {
    position: relative;
    flex-grow: 1;
  }

  .puzzle {
    position: absolute;
    cursor: pointer;
  }
  
  .puzzle--12 {
    top: 3%;
    left: 4%;
  }

  .puzzle--11 {
    top: 60%;
    left: 50%;
  }

  .puzzle--10 {
    top: 10%;
    left: 15%;
  }

  .puzzle--9 {
    top: 30%;
    left: 61%;
  }

  .puzzle--8 {
    top: 70%;
    left: 6%;
  }

  .puzzle--7 {
    top: 40%;
    left: 42px;
  }

  .puzzle--6 {
    top: 64%;
    left: 57%;
  }

  .puzzle--5 {
    top: 55%;
    left: 29%;
  }

  .puzzle--4 {
    top: 18%;
    left: 51%;
  }

  .puzzle--3 {
    top: 30%;
    left: 9%;
  }

  .puzzle--2 {
    top: 8%;
    left: 9%;
  }
  
  .quiz__title-7 {
    max-width: 521px;
    margin: auto auto 60px;
  }
  
  .quiz__title-7 {
    max-width: 521px;
    margin: auto auto 60px;
  }

  .quiz__timer-time {
    color: #FF9D00;
  }
  
  .pink {
    color: #E3027F;
  }
  
  .find {
    width: 540px;
    height: 400px;
    display: inline-block;
    position: relative;
    cursor: pointer;
  }
  
  .find--1 {
    background-image: url(../assets/img/f1.png);
    margin-right: 36px;
  }
  
  .find--2 {
    background-image: url(../assets/img/f2.png)
  }
  
  .quiz__title-7 {
    max-width: 521px;
    margin: auto auto 60px;
  }

  .quiz__timer {
    display: inline-block;
    width: 50%;
    text-align: left;
  }

  .quiz-info__score {
    display: inline-block;
    width: 49%;
    text-align: right;
  }

  .quiz__info-container {
    font-size: 40px;
    line-height: 48px;
    font-style: italic;
    color: #313131;
    margin-bottom: 20px;
  }

  .quiz__timer-time {
    color: #FF9D00;
  }

  .pink {
    color: #E3027F;
  }

  .quiz7-container {
    margin: 0 auto;
    display: inline-block;
  }
  
  .find-item {
    position: absolute;
    background: rgba(227, 2, 127, 0.45);
    border-radius: 50%;
    opacity: 0;
  }
  
  .find-item--1 {
    width: 35px;
    height: 35px;
    top: 9px;
    left: 150px;
  }

  .find-item--2 {
    width: 28px;
    height: 28px;
    top: 25px;
    left: 260px;
  }

  .find-item--3 {
    width: 87px;
    height: 24px;
    top: 49px;
    left: 285px;
    transform: rotate(-36deg);
  }

  .find-item--4 {
    width: 20px;
    height: 105px;
    top: 117px;
    left: 273px;
  }

  .find-item--5 {
    width: 25px;
    height: 25px;
    top: 174px;
    left: 379px;
  }

  .find-item--6 {
    width: 50px;
    height: 50px;
    top: 207px;
    left: 438px;
  }

  .find-item--7 {
    width: 139px;
    height: 20px;
    top: 288px;
    left: 295px;
  }

/*
  .find-item--8 {
    width: 25px;
    height: 25px;
    top: 299px;
    left: 214px;
  }
*/

  .find-item--9 {
    width: 20px;
    height: 20px;
    top: 185px;
    left: 127px;
  }

  .find-item--10 {
    width: 78px;
    height: 60px;
    top: 97px;
    left: 111px;
  }

  .find-item--11 {
    width: 52px;
    height: 81px;
    top: 46px;
    left: 20px;
    transform: rotate(31deg);
  }

  .find-item--12 {
    width: 35px;
    height: 35px;
    top: 151px;
    left: 30px;
  }

  .find-item--visible {
    opacity: 1;
  }
  
  .quiz-container--large {
    max-width: unset;
  }  
  
  @media (min-width: 1380px) {
    .find {
      width: 679px;
      height: 517px;
    }
    
    .find--1 {
      background-image: url(../assets/img/f1-l.png);
      margin-right: 36px;
    }

    .find--2 {
      background-image: url(../assets/img/f2-l.png)
    }
    
    .find-item--1 {
      width: 50px;
      height: 50px;
      top: 9px;
      left: 188px;
    }

    .find-item--2 {
      width: 35px;
      height: 35px;
      top: 31px;
      left: 327px;
    }

    .find-item--3 {
      width: 107px;
      height: 24px;
      top: 66px;
      left: 356px;
      transform: rotate(-36deg);
    }

    .find-item--4 {
      width: 26px;
      height: 127px;
      top: 149px;
      left: 343px;
    }

    .find-item--5 {
      width: 33px;
      height: 33px;
      top: 215px;
      left: 476px;
    }

    .find-item--6 {
      width: 70px;
      height: 70px;
      top: 255px;
      left: 545px;
    }

    .find-item--7 {
      width: 170px;
      height: 24px;
      top: 359px;
      left: 373px;
    }

/*
    .find-item--8 {
      width: 25px;
      height: 25px;
      top: 299px;
      left: 214px;
    }
*/

    .find-item--9 {
      width: 25px;
      height: 25px;
      top: 232px;
      left: 162px;
    }

    .find-item--10 {
      width: 104px;
      height: 72px;
      top: 123px;
      left: 134px;
    }

    .find-item--11 {
      width: 64px;
      height: 97px;
      top: 61px;
      left: 23px;
      transform: rotate(31deg);
    }

    .find-item--12 {
      width: 50px;
      height: 50px;
      top: 185px;
      left: 37px;
    }
  }
</style>