<template>
  <div class="main">
    <HeaderBlock 
      :name="progressName" 
      :progress="parseInt((activity.rating * 100) / maxRating, 10)" 
      :score="activity.rating"
      :photo="activity.user.photoMedium"/>
      
    <div class="main-content">
      <div class="link-back">
        <router-link to="/">На главную</router-link>
      </div>
    </div>
    
    <div class="title-container">
      <img :src="`${cdn}quiz-sticker.png`" alt="" class="title__img">
      <div class="title__text">
        <span class="text-large">УМНАЯ ВИКТОРИНА</span>
      </div>
      <div class="title__desc">
        Теперь вы отлично подкованы в вопросах лечения гриппа и ОРВИ и приближаетесь к получению <span class="orange-text">звания Эксперта!</span> Перед вами <span class="orange-text">7 заданий</span> нашей викторины, выполняйте их в любой последовательности, получайте баллы и выиграйте <span class="orange-text">главный приз!</span>
      </div>
    </div>
    
    <div class="quiz-content">
      <div class="task-list">
        <div class="task-list__title">Список заданий</div>
        <ul class="task-list__list">
          <li class="task-list__list-item" 
            :class="[
              currentQ === 1 ? 'task-list__list-item--active' : '', 
              checkedQ.indexOf(1) > -1 ? 'task-list__list-item--checked' : ''
            ]"
            @click="currentQ = 1">1. Расшифруйте слово
          </li>
          <li class="task-list__list-item" 
            :class="[
              currentQ === 2 ? 'task-list__list-item--active' : '', 
              checkedQ.indexOf(2) > -1 ? 'task-list__list-item--checked' : ''
            ]"
            @click="currentQ = 2">2. Соберите мозаику</li>
          <li class="task-list__list-item" 
            :class="[
              currentQ === 3 ? 'task-list__list-item--active' : '', 
              checkedQ.indexOf(3) > -1 ? 'task-list__list-item--checked' : ''
            ]"
            @click="currentQ = 3">3. Соберите существительные из слова</li>
          <li class="task-list__list-item" 
            :class="[
              currentQ === 4 ? 'task-list__list-item--active' : '', 
              checkedQ.indexOf(4) > -1 ? 'task-list__list-item--checked' : ''
            ]"
            @click="currentQ = 4">4. Составьте схему лечения гриппа и ОРВИ</li>
          <li class="task-list__list-item" 
            :class="[
              currentQ === 5 ? 'task-list__list-item--active' : '', 
              checkedQ.indexOf(5) > -1 ? 'task-list__list-item--checked' : ''
            ]"
            @click="currentQ = 5">5. Найдите верное утверждение</li>
          <li class="task-list__list-item" 
            :class="[
              currentQ === 6 ? 'task-list__list-item--active' : '', 
              checkedQ.indexOf(6) > -1 ? 'task-list__list-item--checked' : ''
            ]"
            @click="currentQ = 6">6. Определите правильные дозы для пациентов</li>
          <li class="task-list__list-item" 
            :class="[
              currentQ === 7 ? 'task-list__list-item--active' : '', 
              checkedQ.indexOf(7) > -1 ? 'task-list__list-item--checked' : ''
            ]"
            @click="currentQ = 7">7. Найдите 10 отличий</li>
        </ul>
      </div>
      
      <div class="task-desc">
       <transition name="show" mode="out-in">
         <template v-if="currentQ === 1">
          <div class="task-desk-content" key="q1">
            <div class="task-desc__title">Пример:</div>
            <img :src="`${cdn}q1.png`" alt="" class="task-desc__img">
            <div class="task-desc__text">
              Вам будет предложено слово с неправильным порядком букв.
              Ваша задача – расшифровать слово. В процессе выполнения задания вы
              сможете воспользоваться подсказкой.
            </div>
            <button class="cyclo-btn" @click="$router.push('/quiz/1'); $ga.event('Задание 1', 'Клик')">Выполнить задание</button>
          </div>
         </template>
         
         <template v-if="currentQ === 2">
          <div class="task-desk-content" key="q2">
             <div class="task-desc__title">Задание:</div>
             <div class="task-desc__text task-desc__text--2">
              Соберите изображение<br> из элементов паззла.
            </div>
            <img :src="`${cdn}q2.png`" alt="" class="task-desc__img task-desc__img--2"><br>
            <button class="cyclo-btn" @click="$router.push('/quiz/2'); $ga.event('Задание 2', 'Клик')">Выполнить задание</button>
          </div>
         </template>

         <template v-if="currentQ === 3">
           <div class="task-desk-content" key="q3">
             <div class="task-desc__title">Пример:</div>
            <img :src="`${cdn}q3.png`" alt="" class="task-desc__img task-desc__img--margin">
            <div class="task-desc__text">
              Вам необходимо составить максимальное количество существительных из предложенного слова и вписать их в пустующие поля.
            </div>
            <button class="cyclo-btn" @click="$router.push('/quiz/3'); $ga.event('Задание 3', 'Клик')">Выполнить задание</button>
           </div>
         </template>

         <template v-if="currentQ === 4">
           <div class="task-desk-content" key="q4">
            <div class="task-desc__title">Задание:</div>
            <div class="task-desc__text task-desc__text--margin-s">Дни приема</div>
            <img :src="`${cdn}q4.png`" alt="" class="task-desc__img">
            <div class="task-desc__text">
              Закрасьте на шкале схему приема Циклоферон® (таб.) при гриппе и ОРВИ
            </div>
            <button class="cyclo-btn" @click="$router.push('/quiz/4'); $ga.event('Задание 4', 'Клик')">Выполнить задание</button>
           </div>
         </template>

         <template v-if="currentQ === 5">
           <div class="task-desk-content" key="q5">
             <div class="task-desc__title">Задание:</div>
            <img :src="`${cdn}q5.png`" alt="" class="task-desc__img task-desc__img--margin">
            <div class="task-desc__text">
              Вам будут предложены верные и ложные утверждения о гриппе и ОРВИ. 
              Ваша задача отметить "Правда" и "Не правда" под каждым из них.
            </div>
            <button class="cyclo-btn" @click="$router.push('/quiz/5'); $ga.event('Задание 5', 'Клик')">Выполнить задание</button>
           </div>
         </template>

         <template v-if="currentQ === 6">
            <div class="task-desk-content" key="q6">
              <div class="task-desc__title">Задание:</div>
              <img :src="`${cdn}q6.png`" alt="" class="task-desc__img task-desc__img--margin">
              <div class="task-desc__text">
                Соотнесите дозы приема препарата Циклоферон® (таб.) 
                с возрастом пациента.
              </div>
              <button class="cyclo-btn" @click="$router.push('/quiz/6'); $ga.event('Задание 6', 'Клик')">Выполнить задание</button>
           </div>
         </template>

         <template v-if="currentQ === 7">
           <div class="task-desk-content" key="q7">
             <div class="task-desc__title">Задание:</div>
            <img :src="`${cdn}q7.png`" alt="" class="task-desc__img task-desc__img--margin">
            <div class="task-desc__text">
              Найдите 10 отличий на двух картинках за 60 секунд!
            </div>
            <button class="cyclo-btn" @click="$router.push('/quiz/7');">Выполнить задание</button>
           </div>
         </template>
       </transition>
      </div>
    </div>
    
    <div class="quiz-product-container">
     <div class="quiz-product-content">
      <div class="product-container">
        <img :src="`${cdn}articles/4.png`" alt="" class="product__img">
        <div class="product__slogan">Умное лекарство от <span class="bold">гриппа</span> и <span class="bold">ОРВИ</span></div>
      </div>
      <div class="article-title-container">
        <div class="article__title article__title--100">Что должно быть в аптечке в период гриппа и простуд?</div>
        <div class="article__subtitle">Умные советы родителям</div>
        <button class="cyclo-btn product__btn" @click="$router.push('/article/4'); $ga.event('Что должно быть в аптечке Подробнее', 'Клик')">Подробнее</button>
      </div>
      </div>
    </div>
    
    <div class="footer">
      ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ. ОЗНАКОМЬТЕСЬ С ИНСТРУКЦИЕЙ
    </div>  
    <Popup v-if="popup"  @close="popup = false" :type="popupType"/>
    <Loader v-if="loading"/>   
  </div>
</template>


<script>
  import appOptions from '../js/settings';
  import Auth from '../js/auth';
  import API from '../js/api';
  import Cookie from '../js/cookie';
  import Activity from '../js/activity';
  import HeaderBlock from './Header';
  import Popup from './Popup';
  import Loader from './Loader';
  
  export default {
    name: 'quiz',
    data() {
      return {
        cdn: appOptions.cdnPath,
        popup: false,
        progressName: '',
        loading: false,
        maxRating: 1000,
        activity: { rating: 0, user: { photoMedium: 'https://static.dnevnik.ru/images/avatars/user/a.m.jpg' } },
        currentQ: 1,
        activeQuizItem: 0,
        checkedQ: [],
      };
    },
    components: {
      HeaderBlock,
      Popup,
      Loader,
    },
    created() {
      API.init();
      if (document.location.href.indexOf('access_token') > -1) {
        Auth.auth(() => {
          API.token = Auth.token;
          const path = window.location.pathname.substring(0, window.location.pathname.length);
          history.pushState('', document.title, path);
          this.checkSession();
        });
      } else {
        this.checkSession();
      }
      window.scroll({ top: 0, left: 0 });
      if (document.documentElement.clientWidth > 1600) {
        document.body.style.backgroundImage = `url(${this.cdn}bg-l2.jpg)`;
      } else {
        document.body.style.backgroundImage = `url(${this.cdn}bg-l1.jpg)`;
        document.body.style.backgroundPosition = 'center -13px';
      }
    },
    methods: {
      checkSession() {
        const that = this;
        if (undefined !== Cookie.get(`${appOptions.provider}_token`)) {
          API.token = Cookie.get(`${appOptions.provider}_token`);
          this.loading = true;
          API.getUserInfo((data) => {
            this.loading = false;
            that.user = data;
            that.computeUserGreetings();
            Activity.get(that.user, (activityData) => {
              that.activity = activityData;
              for (let i = 0; i < activityData.quiz.length; i += 1) {
                if (activityData.quiz[i].done === 1) {
                  this.checkedQ.push(activityData.quiz[i].id);
                }
              }
            });
          });
        } else {
          this.popupType = 'auth';
          this.popup = true;
        }
      },
      computeUserGreetings() {
        this.progressName = `${this.user.firstName} ${this.user.lastName[0]}.`;
      },
    },
  };
</script>


<style scoped>
  @import '../assets/css/reset.css';
  @import '../assets/css/common.css';
  
  .quiz-product-container {
    background: #FEDAEA;
    margin-bottom: 42px;
    padding: 52px 0 32px 0;
    text-align: center;
  }
  
  .product-container {
    display: inline-block;
    margin: -18px 100px 0 0;
    vertical-align: top;
  }

  .article-title-container {
    display: inline-block;
    max-width: 430px;
    text-align: left;
    margin: 0;
  }

  .product__slogan {
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
    color: #FD6D29;
    text-align: center;
    margin-top: -4px;
  }

  .product__img {
    margin-left: -55px;
    width: 378px;
  }

  .article__title--100 {
    max-width: unset;
    line-height: 1.1;
    font-size: 28px;
    
    font-weight: 900;
    font-style: italic;
  }

  .article__subtitle {
    font-size: 28px;
    font-weight: 500;
    font-style: italic;
    line-height: 1.1;
    margin-top: 15px;
  }
  
  .product__btn {
    background: #fff;
    color: #E3027F;
  }
  
  .title-container {
    display: flex;
    padding: 0 20px;
    align-items: center;
    margin: 40px 0 0 0;
    justify-content: center;
  }

  .title__text {
    margin: 0 45px 0 35px;
    color: #E3027F;
    font-size: 30px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 500;
    max-width: 300px;
  }

  .text-large {
    font-style: italic;
    font-weight: 900;
    font-size: 42px;
  }

  .title__desc {
    font-size: 20px;
    color: #313131;
    max-width: 520px;
    line-height: 24px;
    font-style: italic;
  }

  .orange-text {
    color: #FD6D29;
    font-weight: 500;
  }
  
  .quiz-content {
    max-width: 1280px;
    margin: auto;
    padding-top: 60px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .task-list {
    background-image: url(../assets/img/q-paper.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    max-width: 680px;
    padding: 50px 110px 190px 63px;
  }

  .task-list__title {
    color: #E3027F;
    font-size: 46px;
    font-weight: 500;
    margin-bottom: 25px;
    font-style: italic;
    text-align: center;
  }

  .task-desc {
    width: 50%;
    margin-left: 40px;
    text-align: center;
    margin-top: -100px;
  }

  .task-list__list {
    font-size: 22px;
    color: #313131;
  }

  .task-list__list-item {
    cursor: pointer;
    position: relative;
    padding: 15px 40px;
    border-bottom: 1px solid #B8B8B8;
  }
  
  .task-list__list-item:last-child {
    border-bottom: none;
  }

  .task-list__list-item--active {
    color: #E3027F;
  }
  
  .task-list__list-item--checked:before {
    content: '';
    position: absolute;
    top: 4px;
    left: -9px;
    background: url(../assets/img/check.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 42px;
    height: 41px;
  }
  
  .task-desc__title {
    text-align: center;
    font-size: 46px;
    color: #E3027F;
    font-weight: 500;
    margin-bottom: 5px;
    font-style: italic;
  }

  .task-desc__text {
    margin: 30px auto;
    text-align: center;
    font-size: 24px;
    color: #313131;
    line-height: 24px;
    max-width: 490px;
  }
  
  .task-desc__img--2 {
    margin-left: -42px;
  }
  
  .task-desc__img--margin {
    margin-top: 45px;
  }
  
  .task-desc__text--margin-s {
    margin-bottom: 7px;
  }
  
  .task-desc__img {
    max-width: 350px;
  }
  
  .show-enter-active, .show-leave-active {
    transition: opacity .5s
  }
  .show-enter {
    opacity: 1;
  }
  
  .show-leave-to {
    opacity: 0;
  }
  
  .title__img {
    width: 201px;
  }
</style>