<template>
  <div class="test-container" id="test">
   <template v-if="!testStarted">
     <div class="test-header-container">
      <div class="test-header">
        +20 баллов за прохождение теста
      </div>
      <div class="test-subheader">
        Проверьте свои знания!
      </div>
    </div>
    <button class="test-btn" @click="startTest">Пройти тест</button>
   </template>
    <template v-else-if="testStarted && !testResult">
      <div class="test__progress">{{ currentQuestion + 1 }}/{{ testData.length }}</div>
      <div class="test__question" v-html="testData[currentQuestion].question"></div>
      <template v-if="testData[currentQuestion].multi === undefined">
        <div class="test__answers-container">
          <div class="test__answer" 
            v-for="(item, index) in testData[currentQuestion].answers"
            v-bind:class="[checkedAnswer === index ? 'test__answer--active' : '']"
            @click="checkedAnswer = index">
            <div class="test__answer-bullet" v-bind:class="[checkedAnswer === index ? 'test__answer-bullet--active' : '']"></div>
            {{ item }}
          </div> 
        </div>
        <button class="test-btn test-btn--next" @click="check(checkedAnswer === testData[currentQuestion].correct)">Ответить</button>
      </template>
      <template v-else>
        <div class="test__answers-container">
          <div class="test__answer"
            v-for="(item, index) in testData[currentQuestion].answers"
            v-bind:class="[checkedAnswer.indexOf(index) > -1 ? 'test__answer--active' : '']"
            @click="toggleAnswer(index)">
            <div class="test__answer-bullet" v-bind:class="[checkedAnswer.indexOf(index) > -1 ? 'test__answer-bullet--active' : '']"></div>
            {{ item }}
          </div>
        </div>
        <button class="test-btn test-btn--next" @click="check">Ответить</button>
      </template>
   </template>
   <template v-else>
     <div class="test-result" v-if="testResult">
        <template v-if="score === testData.length">
          <div class="test-result__title">Поздравляем! Все ответы верные</div>
          <div class="test-result__text">Вы заработали 20 баллов!</div>
        </template>
        <template v-else>
          <div class="test-result__title">Ваш результат: {{score}}/{{testData.length}}</div>
          <div class="test-result__text">Попробуйте ещё раз</div>
          <button class="test-btn test-btn--next" @click="startTest">Ещё раз</button>
        </template>
      </div>
   </template>
  </div>
</template>


<script>
  import appOptions from '../js/settings';
  import Activity from '../js/activity';
//  import EventBus from '../js/event-bus';
//  import API from '../js/api';
  
  export default {
    name: 'test',
    props: {
      testData: Array,
      user: Object,
      title: String,
    },
    data() {
      return {
        cdn: appOptions.cdnPath,
        testStarted: false,
        testResult: false,
        score: 0,
        checkedAnswer: 0,
      };
    },
    methods: {
      startTest() {
        this.$ga.event('Статьи Пройти тест', 'Клик');
        this.score = 0;
        this.currentQuestion = 0;
        this.checkedAnswer = this.testData[this.currentQuestion].multi === undefined ? -1 : [];
        this.testStarted = true;
        this.testResult = false;
      },
      toggleAnswer(index) {
        const match = this.checkedAnswer.indexOf(index);
        if (match > -1) {
          this.checkedAnswer.splice(match, 1);
        } else if (this.checkedAnswer.length < this.testData[this.currentQuestion].multi) {
          this.checkedAnswer.push(index);
        }
      },
      check(result) {
        let res = result;
        if (this.testData[this.currentQuestion].multi !== undefined) {
          res = true;
          if (this.checkedAnswer.length !== this.testData[this.currentQuestion].correct.length) {
            res = false;
          }
          for (let i = 0; i < this.checkedAnswer.length; i += 1) {
            if (this.testData[this.currentQuestion].correct.indexOf(this.checkedAnswer[i]) === -1) {
              res = false;
              break;
            }
          }
        }
        this.score = res ? this.score + 1 : this.score;
        if (this.testData[this.currentQuestion + 1] !== undefined) {
          this.currentQuestion += 1;
          this.checkedAnswer = this.testData[this.currentQuestion].multi === undefined ? -1 : [];
        } else {
          this.testResult = true;
          if (this.score === this.testData.length) {
            Activity.get(this.user, (activityData) => {
              let article = activityData.articles.find(item => item.id === this.$route.params.id);
              const index = activityData.articles.indexOf(article);
              if (article === undefined) {
                article = {
                  id: this.$route.params.id,
                  liked: 0,
                  share: 0,
                  test: 1,
                };
                Activity.model.articles.push(article);
                Activity.model.rating += 20;
                Activity.set();
                this.$parent.$emit('ratingChanged', Activity.model.rating);
              } else if (article.test === 0) {
                article.test = 1;
                Activity.model.rating += 20;
                Activity.model.articles.splice(index, 1, article);
                this.$parent.$emit('ratingChanged', Activity.model.rating);
                Activity.set();
              }
            });
          }
        }
        this.$forceUpdate();
      },
    },
    mounted() {
      if (window.location.hash.indexOf('test') > 0) {
        window.scroll({ top: document.getElementById('test').offsetTop, left: 0 });
      }
    },
  };
</script>


<style scoped>
  .test-container {
    max-width: 800px;
    margin: auto auto 40px auto;
    padding: 30px 50px;
    background: linear-gradient(to right, rgba(239,24,130,1) 0%,rgba(247,126,86,1) 100%);
    border-radius: 4px;
    box-sizing: border-box;
    color: #fff;
  }

  .test-header-container {
    display: inline-block;
    color: #fff;
  }

  .test-btn {
    float: right;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    border-radius: 100px;
    padding: 10px 40px 13px 40px;
    background: rgba(255,255,255,.3);
    border: 0;
    outline: 0;
    cursor: pointer;
    margin-top: 7px;
  }

  .test-header {
    font-size: 26px;
    font-weight: 700;
    text-shadow: 0 1px 8px rgba(0,0,0,.1);
    line-height: 40px;
  }

  .test-subheader {
    font-size: 20px;
    font-weight: 500;
  }
  
  .test-result__title {
    font-size: 27px;
    text-align: center;
    font-weight: 900;
    font-style: italic;
    margin-bottom: 20px;
  }

  .test-result__text {
    font-size: 20px;
    text-align: center;
  }
  
  .test__progress {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 20px;
  }

  .test__question {
    font-size: 26px;
    line-height: 1.3;
    font-weight: 700;
    text-shadow: 0 1px 8px rgba(0,0,0,.1);
    margin-bottom: 35px;
  }

  .test__answer {
    font-size: 24px;
    font-weight: 500;
    border-radius: 100px;
    padding: 13px 20px 10px 46px;
    margin-bottom: 5px;
    cursor: pointer;
    position: relative;
  }
  
  .test__answer:hover {
    background: rgba(0,0,0,0.05);
  }
  
  .test__answer--active {
    background: rgba(0,0,0,0.1);
  }

  .test-btn--next {
    float: none;
    width: 180px;
    margin: 50px auto 0 auto;
    display: block;
  }
  
  .test__answer-bullet {
    position: absolute;
    left: 16px;
    top: 50%;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
  }
  
  .test__answer-bullet--active::before {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
    top: 50%;
    left: 50%;
    content: '';
    margin: -4px 0 0 -4px;
  }
</style>