<template>
  <div class="main">
    <HeaderBlock 
      :name="progressName" 
      :progress="parseInt((activity.rating * 100) / maxRating, 10)" 
      :score="activity.rating"
      :photo="activity.user.photoMedium"/>
      
    <div class="main-content">
      <div class="link-back">
        <router-link to="/">На главную</router-link>
      </div>
      <div class="title-container">
        <div class="title-container__left">
          <img :src="`${cdn}week-sticker.png`" alt="" class="title__img">
          <div class="title__text">
            <span class="text-large">здоровая неделя</span>
          </div>
        </div>
        <div class="title-container__right">
          <button class="title__btn" @click="popup = true">Правила участия</button>
        </div>
      </div>
      <div class="desc">
        <div class="desc__text">
          <div class="text__title">
            Тема недели: 
            <span class="text__title--pink">Первые симптомы: что предпринять?</span>
          </div>
          <div class="text__content">
            От гриппа и простуды не застрахован никто. В каждой семье — свои методы и принципы лечения: кто-то идёт к врачу при малейшем подозрении на грипп, у кого-то есть выработанный алгоритм действий для победы над вирусами гриппа и ОРВИ.
          </div>
        </div>
        <img :src="`${cdn}week-img.jpg`" alt="" class="desc__img">
      </div>
      <div class="week__title">
       Расскажите, что вы предпринимаете, когда кто-то из членов семьи жалуется на кашель, насморк или температуру?
      </div>
      <div class="week__desc">
        Присылайте ваши истории! Лучшая история недели будет опубликована на страницах проекта «Циклоферон® (таб.) — Умный помощник для родителей». 
      </div>
      <textarea class="week__textarea" placeholder="Ваш текст" v-model="userStory"></textarea>
      <div class="week__warn">{{ warn }}</div>
      <button class="cyclo-btn week__btn" @click="sendStory">Отправить историю</button>
    </div>  
   
  
    <div class="footer">
      ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ. ОЗНАКОМЬТЕСЬ С ИНСТРУКЦИЕЙ
    </div>  
    <Popup v-if="popup"  @close="popup = false" :type="popupType"/>
    <Loader v-if="loading"/>  
  </div>
</template>

<script>
  import appOptions from '../js/settings';
  import Auth from '../js/auth';
  import API from '../js/api';
  import Cookie from '../js/cookie';
  import Activity from '../js/activity';
  import HeaderBlock from './Header';
  import Popup from './Popup';
  import Loader from './Loader';
  
  export default {
    name: 'week',
    data() {
      return {
        cdn: appOptions.cdnPath,
        popup: false,
        progressName: '',
        popupType: 'week',
        loading: false,
        maxRating: 1000,
        activity: { rating: 0, user: { photoMedium: 'https://static.dnevnik.ru/images/avatars/user/a.m.jpg' } },
        state: 1,
        userStory: '',
        warn: '',
      };
    },
    components: {
      HeaderBlock,
      Popup,
      Loader,
    },
    created() {
      API.init();
      if (document.location.href.indexOf('access_token') > -1) {
        Auth.auth(() => {
          API.token = Auth.token;
          const path = window.location.pathname.substring(0, window.location.pathname.length);
          history.pushState('', document.title, path);
          this.checkSession();
        });
      } else {
        this.checkSession();
      }
      window.scroll({ top: 0, left: 0 });
      if (document.documentElement.clientWidth > 1600) {
        document.body.style.backgroundImage = `url(${this.cdn}bg-l2.jpg)`;
      } else {
        document.body.style.backgroundImage = `url(${this.cdn}bg-l1.jpg)`;
        document.body.style.backgroundPosition = 'center -13px';
      }
    },
    methods: {
      checkSession() {
        const that = this;
        if (undefined !== Cookie.get(`${appOptions.provider}_token`)) {
          API.token = Cookie.get(`${appOptions.provider}_token`);
          this.loading = true;
          API.getUserInfo((data) => {
            this.loading = false;
            that.user = data;
            that.computeUserGreetings();
            Activity.get(that.user, (activityData) => {
              that.activity = activityData;
            });
          });
        } else {
          this.popupType = 'auth';
          this.popup = true;
        }
      },
      computeUserGreetings() {
        this.progressName = `${this.user.firstName} ${this.user.lastName[0]}.`;
      },
      sendStory() {
        this.$ga.event('Здоровая неделя Отправить историю', 'Клик');
        if (this.userStory.length < 1001 && this.userStory.length > 0) {
          this.$emit('loadingStart');
          API.addKeyToDB({
            label: `${appOptions.provider}-weekly`,
            key: `${appOptions.provider}-weekly_${this.id}-${new Date().getTime()}`,
            value: JSON.stringify({
              story: this.userStory,
              user: this.user,
              date: new Date().getTime(),
            }),
          }, () => {
            this.$emit('loadingEnd');
            this.userStory = '';
            this.warn = 'Ваша история отправлена';
          });
        } else if (this.userStory.length > 1500) {
          this.warn = 'Длина Вашей истории превышает 1500 символов';
        }
      },
    },
  };
</script>


<style scoped>
  @import '../assets/css/reset.css';
  @import '../assets/css/common.css';
  
  .title-container {
    display: flex;
    padding: 0 20px 0 40px;
    align-items: center;
    margin: 40px 0 0 0;
    justify-content: space-between;
  }
  
  .title-container__left {
    display: flex;
    align-items: center;
  }

  .title__text {
    margin: 0 0 0 40px;
    color: #E3027F;
    font-size: 30px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 500;
    max-width: 300px;
  }

  .text-large {
    font-style: italic;
    font-weight: 900;
    font-size: 42px;
  }
  
  .title__btn {
    font-size: 22px;
    color: #fff;
    background: #FD6D29;
    font-weight: 700;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
    border: 0;
    padding: 16px 30px 15px;
    font-family: 'Exo 2', sans-serif;
    text-align: center;
  }

  .desc {
    background: #FFCDD8;
    padding: 40px 60px;
    box-sizing: border-box;
    border-radius: 14px;
    margin: -38px 0 50px 0;
  }

  .desc__text {
    max-width: 606px;
    color: #313113;
    font-weight: 700;
    font-style: italic;
  }

  .text__title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .text__title--pink {
    color: #E3027F;
    font-size: 28px;
  }
  
  .text__content {
    font-size: 24px;
    line-height: 29px;
    font-weight: 500;
    font-style: italic;
  }
  
  .desc__img {
    float: right;
    margin: -255px -24px 0 0;
    max-width: 500px;
    border-radius: 10px;
  }
  
  .week__title {
    color: #FD6D29;
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 10px;
    font-weight: 700;
    font-style: italic;
  }

  .week__desc {
    color: #313131;
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 10px;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 30px;
  }

  .week__textarea {
    width: 100%;
    box-sizing: border-box;
    border-radius: 14px;
    border: 2px solid #eee;
    background: #fff;
    padding: 30px 40px 50px;
    font-size: 20px;
    line-height: 24px;
    font-style: italic;
    color: #313131;
    margin-bottom: 30px;
    height: 400px;
    outline: none;
  }
  
  .week__btn {
    width: 315px;
    display: block;
    margin: auto auto 80px;
  }
  
  .week__warn {
    position: relative;
    top: -25px;
    font-size: 18px;
    color: #555555;
    text-align: center;
  }
  
  .title__img {
    width: 201px;
  }
</style>